<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.CglActivityExecutionContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cglActivityExecutionContractResultMap" type="org.springblade.contract.entity.CglActivityExecutionContractEntity">
        <result column="id" property="id"/>
        <result column="cgl_partya" property="cglPartya"/>
        <result column="cgl_partyb" property="cglPartyb"/>
        <result column="cgl_activity" property="cglActivity"/>
        <result column="cgl_area" property="cglArea"/>
        <result column="activity_name" property="activityName"/>
        <result column="cgl_by_time" property="cglByTime"/>
        <result column="cgl_as_time" property="cglAsTime"/>
        <result column="cgl_total" property="cglTotal"/>
        <result column="cgl_session" property="cglSession"/>
        <result column="cgl_payment" property="cglPayment"/>
        <result column="days" property="days"/>
        <result column="amount" property="amount"/>
        <result column="amount_words" property="amountWords"/>
        <result column="cgl_proportion" property="cglProportion"/>
        <result column="cgl_lump_sum" property="cglLumpSum"/>
        <result column="cgl_capitalize" property="cglCapitalize"/>
        <result column="other" property="other"/>
        <result column="cgl_bank" property="cglBank"/>
        <result column="cgl_account_name" property="cglAccountName"/>
        <result column="cgl_account" property="cglAccount"/>
        <result column="cgl_invoice" property="cglInvoice"/>
        <result column="days1" property="days1"/>
        <result column="days2" property="days2"/>
        <result column="breach_contract" property="breachContract"/>
        <result column="cgl_planning_scheme" property="cglPlanningScheme"/>
        <result column="cgl_price" property="cglPrice"/>
        <result column="cgl_inspection_standard" property="cglInspectionStandard"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="scheduling" property="scheduling"/>
        <result column="planning_scheme" property="planningScheme"/>
        <result column="capitalization" property="capitalization"/>
        <result column="events" property="events"/>
        <result column="element" property="element"/>
        <result column="one" property="one"/>
        <result column="two" property="two"/>
        <result column="three" property="three"/>
        <result column="four" property="four"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        cgl_partya,
        cgl_partyb,
        cgl_activity,
        cgl_area,
        activity_name,
        cgl_by_time,
        cgl_as_time,
        cgl_total,
        cgl_session,
        cgl_payment,
        days,
        amount,
        amount_words,
        cgl_proportion,
        cgl_lump_sum,
        cgl_capitalize,
        other,
        cgl_bank,
        cgl_account_name,
        cgl_account,
        cgl_invoice,
        days1,
        days2,
        breach_contract,
        cgl_planning_scheme,
        cgl_price,
        cgl_inspection_standard,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        scheduling,
        planning_scheme,
        capitalization,
        events,
        element,
        one,
        two,
        three,
        four
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="cglActivityExecutionContractResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM cgl_activity_execution_contract
        WHERE is_deleted = 0
    </select>
</mapper>
