<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.CglAdvertisementProductionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cglAdvertisementProductionResultMap" type="org.springblade.contract.entity.CglAdvertisementProductionEntity">
        <result column="id" property="id"/>
        <result column="mtl_party_a" property="mtlPartyA"/>
        <result column="mtl_party_a_site" property="mtlPartyASite"/>
        <result column="mtl_party_b" property="mtlPartyB"/>
        <result column="mtl_party_b_site" property="mtlPartyBSite"/>
        <result column="mtl_area_make" property="mtlAreaMake"/>
        <result column="mtl_attachment_quotation" property="mtlAttachmentQuotation"/>
        <result column="mtl_pary_a_email" property="mtlParyAEmail"/>
        <result column="mtl_infrom" property="mtlInfrom"/>
        <result column="mtl_receive_infrom" property="mtlReceiveInfrom"/>
        <result column="mtl_infrom_check" property="mtlInfromCheck"/>
        <result column="mtl_free_repaira" property="mtlFreeRepaira"/>
        <result column="mtl_free_repairb" property="mtlFreeRepairb"/>
        <result column="mtl_free_repairc" property="mtlFreeRepairc"/>
        <result column="mtl_free_repaird" property="mtlFreeRepaird"/>
        <result column="mtl_free_warrantyday" property="mtlFreeWarrantyday"/>
        <result column="mtl_free_repair" property="mtlFreeRepair"/>
        <result column="mtl_clearing_from" property="mtlClearingFrom"/>
        <result column="mtl_receive_invoice" property="mtlReceiveInvoice"/>
        <result column="mtl_receive_day" property="mtlReceiveDay"/>
        <result column="mtl_other_methods" property="mtlOtherMethods"/>
        <result column="mtl_opening_bankb" property="mtlOpeningBankb"/>
        <result column="mtl_account_number" property="mtlAccountNumber"/>
        <result column="mtl_quality_inform" property="mtlQualityInform"/>
        <result column="mtl_liquidated_damages" property="mtlLiquidatedDamages"/>
        <result column="mtl_install_day" property="mtlInstallDay"/>
        <result column="mtl_special_agreement" property="mtlSpecialAgreement"/>
        <result column="mtl_start_date" property="mtlStartDate"/>
        <result column="mtl_date_closed" property="mtlDateClosed"/>
        <result column="mtl_contract_number" property="mtlContractNumber"/>
        <result column="mtl_contract_numbera" property="mtlContractNumbera"/>
        <result column="mtl_contract_numberb" property="mtlContractNumberb"/>
        <result column="mtl_accessory_quotation" property="mtlAccessoryQuotation"/>
        <result column="mtl_accessory_three" property="mtlAccessoryThree"/>
        <result column="contact_party_a_place" property="contactPartyAPlace"/>
        <result column="contact_party_b_place" property="contactPartyBPlace"/>
        <result column="contact_party_a_person" property="contactPartyAPerson"/>
        <result column="contact_party_b_person" property="contactPartyBPerson"/>
        <result column="contact_party_a_phone" property="contactPartyAPhone"/>
        <result column="contact_party_b_phone" property="contactPartyBPhone"/>
        <result column="contract_id" property="contractId"/>
        <result column="annex" property="annex"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        mtl_party_a,
        mtl_party_a_site,
        mtl_party_b,
        mtl_party_b_site,
        mtl_area_make,
        mtl_attachment_quotation,
        mtl_pary_a_email,
        mtl_infrom,
        mtl_receive_infrom,
        mtl_infrom_check,
        mtl_free_repaira,
        mtl_free_repairb,
        mtl_free_repairc,
        mtl_free_repaird,
        mtl_free_warrantyday,
        mtl_free_repair,
        mtl_clearing_from,
        mtl_receive_invoice,
        mtl_receive_day,
        mtl_other_methods,
        mtl_opening_bankb,
        mtl_account_number,
        mtl_quality_inform,
        mtl_liquidated_damages,
        mtl_install_day,
        mtl_special_agreement,
        mtl_start_date,
        mtl_date_closed,
        mtl_contract_number,
        mtl_contract_numbera,
        mtl_contract_numberb,
        mtl_accessory_quotation,
        mtl_accessory_three,
        contact_party_a_place,
        contact_party_b_place,
        contact_party_a_person,
        contact_party_b_person,
        contact_party_a_phone,
        contact_party_b_phone,
        contract_id，
        annex,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="cglAdvertisementProductionResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM cgl_advertisement_production
        WHERE is_deleted = 0
    </select>
</mapper>
