<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.ContractPerformanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="contractPerformanceResultMap" type="org.springblade.contract.entity.ContractPerformanceEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="currency_category" property="currencyCategory"/>
        <result column="plan_pay_time" property="planPayTime"/>
        <result column="plan_pay_amount" property="planPayAmount"/>
        <result column="actual_pay_time" property="actualPayTime"/>
        <result column="actual_pay_amount" property="actualPayAmount"/>
        <result column="plan_return_time" property="planReturnTime"/>
        <result column="plan_return_amount" property="planReturnAmount"/>
        <result column="actual_return_time" property="actualReturnTime"/>
        <result column="actual_return_amount" property="actualReturnAmount"/>
        <result column="contract_id" property="contractId"/>
        <result column="factories" property="factories"/>
        <result column="acceptance_conditions" property="acceptanceConditions"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        type,
        currency_category,
        plan_pay_time,
        plan_pay_amount,
        actual_pay_time,
        actual_pay_amount,
        plan_return_time,
        plan_return_amount,
        actual_return_time,
        actual_return_amount,
        contract_id,
        factories,
        acceptance_conditions,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted
    </sql>
    <!-- 一般超期 -->
    <select id="pageList" resultMap="contractPerformanceResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_performance per
        WHERE per.is_deleted = 0
        AND per.contract_id
        IN (SELECT form.id FROM contract_form_info form WHERE form.contract_status='70')
        <if test="contractPerformance.name != null and contractPerformance.name != ''">
            AND name like concat('%',#{contractPerformance.name},'%')
        </if>
        <if test="contractPerformance.type != null and contractPerformance.type != ''">
            AND type = #{contractPerformance.type}
        </if>
        <if test="contractPerformance.contractPerformance =='ContractPerformanceGeneral'">
            AND plan_pay_time is not null
            And plan_pay_time != ''
            AND ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '15'
            AND (
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '30'
            )
            OR ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) is null
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '15'
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '30'
            )
        </if>
        <if test="contractPerformance.contractPerformance =='ContractPerformanceSerious'">
            AND plan_pay_time is not null
            And plan_pay_time != ''
            AND ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '30'
            AND (
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '60'
            )
            OR ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) is null
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '30'
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '60'
            )
        </if>
        <if test="contractPerformance.contractPerformance =='ContractPerformanceLong'">
            AND plan_pay_time is not null
            And plan_pay_time != ''
            AND ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '60'
            AND (
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '120'
            )
            OR ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) is null
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '60'
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '120'
            )
        </if>
    </select>
    <!-- 严重超期 -->
    <select id="pageListSerious" resultMap="contractPerformanceResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_performance
        WHERE is_deleted = 0
        <if test="contractPerformance.name != null and contractPerformance.name != ''">
            AND name like concat('%',#{contractPerformance.name},'%')
        </if>
        <if test="contractPerformance.type != null and contractPerformance.type != ''">
            AND type = #{contractPerformance.type}
        </if>
        <if test="contractPerformance.contractPerformance =='contractPerformance'">
            AND plan_pay_time is not null
            And plan_pay_time != ''
            AND ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '30'
            AND (
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '60'
            )
            OR ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) is null
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '30'
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '60'
            )
        </if>
    </select>
    <!-- 长期超期 -->
    <select id="pageListLong" resultMap="contractPerformanceResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_performance
        WHERE is_deleted = 0
        <if test="contractPerformance.name != null and contractPerformance.name != ''">
            AND name like concat('%',#{contractPerformance.name},'%')
        </if>
        <if test="contractPerformance.type != null and contractPerformance.type != ''">
            AND type = #{contractPerformance.type}
        </if>
        <if test="contractPerformance.contractPerformance =='contractPerformance'">
            AND plan_pay_time is not null
            And plan_pay_time != ''
            AND ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '60'
            AND (
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '120'
            )
            OR ((
            DATE_FORMAT( actual_pay_time, '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) is null
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &gt; '60'
            AND (
            DATE_FORMAT( now(), '%j' )- DATE_FORMAT( plan_pay_time, '%j' )) &lt;= '120'
            )
        </if>
    </select>
    <!--根据合同id查询履约计划清单集合-->
    <select id="selectByIds" resultMap="contractPerformanceResultMap">
        SELECT
        <include refid="baseColumnList"> </include>
        FROM contract_performance
        WHERE is_deleted = 0
        AND
        contract_id = #{id}
    </select>
    <select id="selectByIdDays" resultType="java.lang.Integer">
        SELECT
        plan_pay_time
        FROM contract_performance
        WHERE is_deleted = 0
        AND
        id = #{id}
    </select>

    <!--删除关联相对方-->
    <delete id="deleteByContractId" parameterType="java.lang.Long">
          DELETE FROM contract_performance  WHERE contract_id=#{id}
    </delete>

    <!--计算合同履约个数-->
    <select id="countById" resultType="java.lang.Integer">
        SELECT
        COUNT(contract_id)
        FROM contract_performance
        WHERE is_deleted = 0
        AND
        contract_id = #{id}
    </select>
    <!--计算合同履约已完成个数-->
    <select id="countOKById" resultType="java.lang.Integer">
        SELECT
        COUNT(contract_id)
        FROM contract_performance
        WHERE is_deleted = 0
        AND
        contract_id = #{id}
        AND
        actual_pay_time  IS NOT NULL
    </select>
</mapper>
