<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.ContractCounterpartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="counterpartResultMap" type="org.springblade.contract.entity.ContractCounterpartEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_number" property="idNumber"/>
        <result column="unified_social_credit_code" property="unifiedSocialCreditCode"/>
        <result column="nature_category" property="natureCategory"/>
        <result column="counterpart_category" property="counterpartCategory"/>
        <result column="registered_address" property="registeredAddress"/>
        <result column="existence_status" property="existenceStatus"/>
        <result column="contact_person_phone" property="contactPersonPhone"/>
        <result column="contact_person_name" property="contactPersonName"/>
        <result column="contact_address" property="contactAddress"/>
        <result column="account_opening_address" property="accountOpeningAddress"/>
        <result column="passport_id" property="passportId"/>
        <result column="first_cooperation_date" property="firstCooperationDate"/>
        <result column="electronic_seal_serial_id" property="electronicSealSerialId"/>
        <result column="organization_code" property="organizationCode"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="information_syn_date" property="informationSynDate"/>
        <result column="establish_date" property="establishDate"/>
        <result column="company_address" property="companyAddress"/>
        <result column="registered_capital" property="registeredCapital"/>
        <result column="legal_representative" property="legalRepresentative"/>
        <result column="contact_person_mail" property="contactPersonMail"/>
        <result column="deposit_bank" property="depositBank"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="currency_category" property="currencyCategory"/>
        <result column="attached_files" property="attachedFiles"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="classification" property="classification"/>
        <result column="blacklist_logo" property="blacklistLogo"/>
        <result column="cancellation" property="cancellation"/>
        <result column="remarks" property="remarks"/>
        <result column="rename_review" property="renameReview"/>
        <result column="half_width_name" property="halfWidthName"/>

    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        id_number,
        unified_social_credit_code,
        nature_category,
        counterpart_category,
        registered_address,
        contact_person_phone,
        contact_person_name,
        existence_status,
        contact_address,
        organization_code,
        account_opening_address,
        passport_id,
        first_cooperation_date,
        electronic_seal_serial_id,
        tax_rate,
        payment_method,
        information_syn_date,
        establish_date,
        company_address,
        registered_capital,
        legal_representative,
        contact_person_mail,
        deposit_bank,
        bank_account,
        attached_files,
        currency_category,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        classification,
        blacklist_logo,
        cancellation,
        remarks,
        rename_review,
        half_width_name
    </sql>
    <sql id="baseColumnListJoin">
        name=#{name},
        id_number=#{idNumber},
        unified_social_credit_code=#{unifiedSocialCreditCode},
        nature_category=#{natureCategory},
        counterpart_category=#{counterpartCategory},
        registered_address=#{registeredAddress},
        contact_person_phone=#{contactPersonPhone},
        contact_person_name=#{contactPersonName},
        existence_status=#{existenceStatus},
        contact_address=#{contactAddress},
        organization_code=#{organizationCode},
        account_opening_address=#{accountOpeningAddress},
        passport_id=#{passportId},
        first_cooperation_date=#{firstCooperationDate},
        electronic_seal_serial_id=#{electronicSealSerialId},
        tax_rate=#{taxRate},
        payment_method=#{paymentMethod},
        information_syn_date=#{informationSynDate},
        establish_date=#{establishDate},
        company_address=#{companyAddress},
        registered_capital=#{registeredCapital},
        legal_representative=#{legalRepresentative},
        contact_person_mail=#{contactPersonMail},
        deposit_bank=#{depositBank},
        bank_account=#{bankAccount},
        attached_files=#{attachedFiles},
        currency_category=#{currencyCategory},
        classification=#{classification},
        blacklist_logo=#{blacklistLogo},
        cancellation=#{cancellation},
        remarks=#{remarks},
        rename_review=#{renameReview},
        half_width_name=#{halfWidthName}
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="counterpartResultMap">
        SELECT
        <include refid="baseColumnList"> </include>
        FROM contract_counterpart
        WHERE is_deleted = 0
        -- 相对方名称查询
        <if test="counterpart.name != null and counterpart.name != ''">
            AND name like concat('%', #{counterpart.name}, '%')
        </if>
        <if test="counterpart.natureCategory != null and counterpart.natureCategory != ''">
            AND nature_category like concat('%', #{counterpart.natureCategory}, '%')
        </if>
        <if test="counterpart.firstCooperationDateString != null and counterpart.firstCooperationDateString != ''">
            AND first_cooperation_date like concat('%', #{counterpart.firstCooperationDateString}, '%')
        </if>
        <if test="counterpart.idNumber != null and counterpart.idNumber != ''">
            AND id_number like concat('%', #{counterpart.idNumber}, '%')
        </if>
        <if test="counterpart.legalRepresentative != null and counterpart.legalRepresentative != ''">
            AND legal_representative like concat('%', #{counterpart.legalRepresentative}, '%')
        </if>
        <if test="counterpart.establishDateString != null and counterpart.establishDateString != ''">
            AND DATE_FORMAT(establish_date,'%Y-%m-%d') = #{counterpart.establishDateString}
        </if>
--       社会统一代码查询
        <if test="counterpart.unifiedSocialCreditCode != null and counterpart.unifiedSocialCreditCode != ''">
            AND unified_social_credit_code like concat('%', #{counterpart.unifiedSocialCreditCode}, '%')
        </if>
        ORDER BY create_time DESC
    </select>


    <select id="findListByCodes" resultMap="counterpartResultMap">
        select
        <include refid="baseColumnList"> </include>
        from contract_counterpart
        WHERE
        is_deleted = 0
        and unified_social_credit_code in
        <foreach collection="codes" item="code" index="index" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </select>




    <!--根据合同id查询相对方集合-->
    <select id="selectByIds" resultMap="counterpartResultMap">
        SELECT
        <include refid="baseColumnList"> </include>
        FROM contract_counterpart
        WHERE is_deleted = 0
        AND
        id IN (SELECT c.counterpart_id FROM contract_counterpart_setting c WHERE c.contract_id = #{id})
    </select>
    <select id="selectById" resultMap="counterpartResultMap">
        SELECT
        <include refid="baseColumnList"> </include>
        FROM contract_counterpart
        WHERE is_deleted = 0
        AND
        id = #{id}
    </select>

    <!--根相对方统一信用代码吗查询黁相对方是否存在-->
    <select id="selectByUnifiedSocialCreditCode" resultMap="counterpartResultMap">
        SELECT
        <include refid="baseColumnList"> </include>
        FROM contract_counterpart
        WHERE is_deleted = 0
        AND
        unified_social_credit_code = #{unifiedSocialCreditCode}
        OR
        name = #{name}
    </select>

    <!--根相对方统一信用代码吗查询黁相对方是否存在-->
    <select id="selectByName" resultMap="counterpartResultMap">
        SELECT
        <include refid="baseColumnList"> </include>
        FROM contract_counterpart
        WHERE is_deleted = 0
        AND
        unified_social_credit_code = #{unifiedSocialCreditCode}
    </select>
    <!--根相对方统一信用代码修改i相对方信息-->
    <update id="updateByName">
        UPDATE contract_counterpart
        SET
        <include refid="baseColumnListJoin"> </include>
        WHERE unified_social_credit_code = #{unifiedSocialCreditCode}
    </update>
    <!--批量插入-->
    <insert id="saveBatchPost">
        INSERT INTO blade_post (id, post_name, association_id, update_time , status, is_deleted)
        VALUES
        <foreach collection="ContractCounterpartList" separator="," item="item">
            (#{item.id}, #{item.postName}, #{item.associationId}, #{item.updateTime}, 1, 0 )
        </foreach>
        ON DUPLICATE KEY UPDATE
        post_name = VALUES(post_name),is_deleted = VALUES(is_deleted),update_time = VALUES(update_time),status = VALUES(status)
    </insert>

    <!--删除关联相对方-->
    <delete id="deleteByContractId" parameterType="java.lang.Long">
        DELETE
        FROM contract_counterpart_setting
        WHERE contract_id = #{contractId}
    </delete>


    <insert id="saveListByContractId">
        insert into contract_counterpart_setting
        (
        contract_id,
        counterpart_id
        )
        values
        <foreach collection="counterpartEntityList" item="item" index="index" open="" close="" separator=",">
        (
        #{contractId},
        #{item.id}
        )
        </foreach>
    </insert>

    <delete id="clearDate">
        DELETE
        FROM contract_counterpart
        WHERE id NOT IN (
            SELECT t.max_id
            FROM (SELECT max(id) AS max_id from contract_counterpart group by unified_social_credit_code) as t
        );
    </delete>
    <delete id="clearEmpty">
        DELETE
        FROM contract_counterpart
        WHERE unified_social_credit_code IN (NULL,'null','');
    </delete>

</mapper>
