<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.ContractTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="templateResultMap" type="org.springblade.contract.entity.ContractTemplateEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="template_number" property="templateNumber"/>
        <result column="contract_big_category" property="contractBigCategory"/>
        <result column="contract_small_category" property="contractSmallCategory"/>
        <result column="template_category" property="templateCategory"/>
        <result column="create_unit" property="createUnit"/>
        <result column="use_range" property="useRange"/>
        <result column="template_description" property="templateDescription"/>
        <result column="record_version" property="recordVersion"/>
        <result column="attached_files" property="attachedFiles"/>
        <result column="original_template_id" property="originalTemplateId"/>
        <result column="contract_id" property="contractId"/>
        <result column="template_status" property="templateStatus"/>
        <result column="template_code" property="templateCode"/>
        <result column="authentic_performance_count" property="authenticPerformanceCount"/>
        <result column="completed_contract_count" property="completedContractCount"/>
        <result column="usage_rate" property="usageRate"/>
        <result column="remarks" property="remarks"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="enabled" property="enabled"/>
        <result column="template_file_id" property="templateFileId"/>
        <result column="app_code" property="appCode"/>
        <result column="app_number" property="appNumber"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        template_category,
        contract_big_category,
        contract_small_category,
        template_description,
        record_version,
        template_number,
        attached_files,
        create_unit,
        use_range,
        original_template_id,
        contract_id,
        template_status,
        template_code,
        authentic_performance_count,
        completed_contract_count,
        usage_rate,
        remarks,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        enabled,
        template_file_id,
app_code,
app_number
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="templateResultMap">
        SELECT
            <include refid="baseColumnList"> </include>
        FROM contract_template
        WHERE is_deleted = 0
        <if test="template.name != null and template.name != ''">
            AND name like concat('%', #{template.name}, '%')
        </if>
        <if test="template.enabled != null and template.enabled != ''">
            AND enabled like concat('%', #{template.enabled}, '%')
        </if>
        <if test="template.templateCategory != null and template.templateCategory != ''">
            AND template_category like concat('%', #{template.templateCategory}, '%')
        </if>
        <if test="template.templateNumber != null and template.templateNumber != ''">
            AND template_number like concat('%', #{template.templateNumber}, '%')
        </if>
        <if test="template.contractSmallCategory != null and template.contractSmallCategory != ''">
            AND contract_small_category like concat('%', #{template.contractSmallCategory}, '%')
        </if>
        <if test="template.contractBigCategory != null and template.contractBigCategory != ''">
            AND contract_big_category like concat('%', #{template.contractBigCategory}, '%')
        </if>
        <if test="template.createUnit != null and template.createUnit != ''">
            AND create_unit = #{template.createUnit}
        </if>
        <!--范本集合查询条件-->
        <if test="template.templateStatus != null and template.templateStatus != ''">
            <foreach collection="template.code" item="template_status" open="and template_status in (" separator="," close=")">
                #{template_status}
            </foreach>
        </if>
        ORDER BY update_time DESC
    </select>

    <!--批量修改范本状态-->
    <update id="updateEachTemplateStatus">
        <foreach collection="ids" item="item" index="index" open="" close="" separator=";">
        UPDATE contract_template  SET
            template_status = #{item.templateStatus}
            WHERE id = #{item.id}
        </foreach>
    </update>
    <!--修改范本状态-->
    <update id="updateTemplateStatus">
        UPDATE contract_template SET template_status = #{templateStatus},enabled=#{enabled} WHERE id =#{id}
    </update>
    <!--修改范本是否启用-->
    <update id="updateTemplateEnabled">
        UPDATE contract_template SET enabled = #{enabled} WHERE id =#{id}
    </update>
    <!--查询模板历史版本-->
    <select id="versionInfo" resultMap="templateResultMap">
        SELECT
           <include refid="baseColumnList"></include>
        FROM contract_template
        WHERE is_deleted = 0
        AND id = #{id}
    </select>
    <!--查询模板历史版本-->
    <select id="latestById" resultMap="templateResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_template
        WHERE is_deleted = 0
        AND original_template_id = #{id}
    </select>

    <!--根據範本編號類型查詢範本編號-->
    <select id="selectByIdTemplateNumber" resultType="Integer">
        SELECT
        number
        FROM contract_template_number
        WHERE type = #{type}
    </select>
    <!--根据范本id查询范本使用率-->
    <select id="selectByIdUsageRate" resultType="Integer">
        SELECT
                COUNT(contract_template_id) count
        FROM contract_form_info
        WHERE  is_deleted = 0
        AND contract_template_id = #{id}
    </select>
    <!--根据范本id查询范本履约中数量-->
    <select id="selectByIdFulfillingCount" resultType="Integer">
        SELECT
                COUNT(contract_template_id) count
        FROM contract_form_info
        WHERE  is_deleted = 0
        AND contract_template_id = #{id}
        AND contract_status=70
    </select>
    <!--根据范本id查询范本已完成数量-->
    <select id="selectByIdCompletedCount" resultType="Integer">
        SELECT
                COUNT(contract_template_id) count
        FROM contract_form_info
        WHERE  is_deleted = 0
        AND contract_template_id = #{id}
        AND contract_status=110
    </select>
     <!-- 标准范本总和计数   -->
    <select id="selectByIdTemplateCount" resultType="Integer">
        SELECT
                COUNT(template_status) count
        FROM contract_template
        WHERE template_status in (10,20,40)
    </select>
     <!-- 新增範本編號   -->
    <insert id="instertTemplateNumbered">
        INSERT INTO contract_template_number
            (type,
             number)
        VALUES(#{type},
               #{number})
    </insert>
    <!--  修改範本類型的編號存入庫内  -->
    <update id="updateTemplateNumbered">
        UPDATE contract_template_number
        SET number=#{number}
        WHERE type=#{type}
    </update>

    <!--根据范本id查询范本已完成数量-->
    <select id="FilterDuplicates" resultMap="templateResultMap">
        SELECT
            <include refid="baseColumnList"> </include>
        FROM contract_template
        WHERE  is_deleted = 0
          AND name like concat('%',#{templateName},'%')
          AND template_code = #{templateCode}
          AND template_status IN (10,20)
    </select>
</mapper>
