<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.ContractTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="templateResultMap" type="org.springblade.contract.entity.ContractTemplateEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="template_category" property="templateCategory"/>
        <result column="contract_big_category" property="contractBigCategory"/>
        <result column="contract_small_category" property="contractSmallCategory"/>
        <result column="template_description" property="templateDescription"/>
        <result column="record_version" property="recordVersion"/>
        <result column="template_number" property="templateNumber"/>
        <result column="attached_files" property="attachedFiles"/>
        <result column="create_unit" property="createUnit"/>
        <result column="contract_id" property="contractId"/>
        <result column="template_status" property="templateStatus"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        template_category,
        contract_big_category,
        contract_small_category,
        template_description,
        record_version,
        template_number,
        attached_files,
        create_unit,
        contract_id,
        template_status,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="templateResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM contract_template
        WHERE is_deleted = 0
        <if test="template.name != null and template.name != ''">
            AND name = #{template.name}
        </if>
        <if test="template.templateCategory != null and template.templateCategory != ''">
            AND template_category = #{template.templateCategory}
        </if>
        <if test="template.templateNumber != null and template.templateNumber != ''">
            AND template_number = #{template.templateNumber}
        </if>
        <if test="template.contractSmallCategory != null and template.contractSmallCategory != ''">
            AND contract_small_category = #{template.contractSmallCategory}
        </if>
        <if test="template.contractBigCategory != null and template.contractBigCategory != ''">
            AND contract_big_category = #{template.contractBigCategory}
        </if>
    </select>

    <!--批量修改范本状态-->
    <update id="updateEachTemplateStatus">
        <foreach collection="ids" item="item" index="index" open="" close="" separator=";">
        UPDATE contract_template  SET
            template_status = ${item.templateStatus}
            WHERE id = ${item.id}
        </foreach>
    </update>
    <!--修改范本状态-->
    <update id="updateTemplateStatus">
        UPDATE contract_form_info SET template_status = ${templateStatus} WHERE id = ${id}
    </update>
</mapper>
