<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.ContractFormInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="formInfoResultMap" type="org.springblade.contract.entity.ContractFormInfoEntity">
        <result column="id" property="id"/>
        <result column="contract_name" property="contractName"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="text_file" property="textFile"/>
        <result column="text_file_pdf" property="textFilePdf"/>
        <result column="attached_files" property="attachedFiles"/>
        <result column="currency_category" property="currencyCategory"/>
        <result column="contract_amount" property="contractAmount"/>
        <result column="contract_tax_amount" property="contractTaxAmount"/>
        <result column="contact_tax_rate" property="contactTaxRate"/>
        <result column="other_information" property="otherInformation"/>
        <result column="contract_roles" property="contractRoles"/>
        <result column="change_category" property="changeCategory"/>
        <result column="change_contract_id" property="changeContractId"/>
        <result column="contract_status" property="contractStatus"/>
        <result column="submit_status" property="submitStatus"/>
        <result column="contract_soure" property="contractSoure"/>
        <result column="file_export_category" property="fileExportCategory"/>
        <result column="file_export_count" property="fileExportCount"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="contract_big_category" property="contractBigCategory"/>
        <result column="contract_small_category" property="contractSmallCategory"/>
        <result column="contract_template_id" property="contractTemplateId"/>
        <result column="share" property="share"/>
        <result column="person_contract" property="personContract"/>
        <result column="person_code_contract" property="personCodeContract"/>
        <result column="contract_period" property="contractPeriod"/>
        <result column="starting_time" property="startingTime"/>
        <result column="end_time" property="endTime"/>
        <result column="col_pay_term" property="colPayTerm"/>
        <result column="col_pay_type" property="colPayType"/>
        <result column="days" property="days"/>
        <result column="extension" property="extension"/>
        <result column="counterpart_person" property="counterpartPerson"/>
        <result column="rel_contract_id" property="relContractId"/>
        <result column="telephone_person" property="telephonePerson"/>
        <result column="address_person" property="addressPerson"/>
        <result column="email_person" property="emailPerson"/>
        <result column="contract_form" property="contractForm"/>
        <result column="seal_name" property="sealName"/>
        <result column="seal_type" property="sealType"/>
        <result column="seal_number" property="sealNumber"/>
        <result column="file_time" property="fileTime"/>
        <result column="json" property="json"/>
        <result column="a_name" property="aName"/>
        <result column="a_person" property="aPerson"/>
        <result column="a_address" property="aAddress"/>
        <result column="a_telephone" property="aTelephone"/>
        <result column="a_email" property="aEmail"/>
        <result column="a_bank_number" property="aBankNumber"/>
        <result column="a_bank_name" property="aBankName"/>
        <result column="a_account_name" property="aAccountName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        contract_name,
        contract_number,
        text_file,
        text_file_pdf,
        attached_files,
        currency_category,
        contract_amount,
        contract_tax_amount,
        contact_tax_rate,
        contract_roles,
        is_not_other,
        other_information,
        change_category,
        change_contract_id,
        rel_contract_id,
        contract_status,
        submit_status,
        contract_soure,
        file_export_category,
        file_export_count,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        contract_big_category,
        contract_small_category,
        share,
        person_contract,
        person_code_contract,
        contract_period,
        starting_time,
        end_time,
        col_pay_type,
        col_pay_term,
        days,
        extension,
        counterpart_person,
        telephone_person,
        address_person,
        email_person,
        contract_form,
        seal_name,
        seal_type,
        seal_number,
        file_time,
        contract_template_id,
        contract_list_name,
        json,
        a_name,
        a_person,
        a_address,
        a_telephone,
        a_email,
        a_bank_number,
        a_bank_name,
        a_account_name
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnListJoin">
        a.id,
        a.contract_name,
        a.contract_number,
        a.text_file,
        a.text_file_pdf,
        a.attached_files,
        a.currency_category,
        a.contract_amount,
        a.contract_tax_amount,
        a.contact_tax_rate,
        a.contract_roles,
        a.other_information,
        a.change_category,
        a.change_contract_id,
        a.rel_contract_id,
        a.contract_status,
        a.submit_status,
        a.contract_soure,
        a.file_export_category,
        a.file_export_count,
        a.is_deleted,
        a.create_user,
        a.create_time,
        a.update_user,
        a.update_time,
        a.create_dept,
        a.contract_big_category,
        a.contract_small_category,
        a.share,
        a.person_contract,
        a.person_code_contract,
        a.contract_period,
        a.starting_time,
        a.end_time,
        a.col_pay_type,
        a.col_pay_term,
        a.days,
        a.extension,
        a.counterpart_person,
        a.telephone_person,
        a.address_person,
        a.email_person,
        a.contract_form,
        a.seal_name,
        a.seal_type,
        a.seal_number,
        a.contract_template_id,
        a.file_time,
        a.json,
        a.a_name,
        a.a_person,
        a.a_address,
        a.a_telephone,
        a.a_email,
        a.a_bank_number,
        a.a_bank_name,
        a.a_account_name
    </sql>
    <select id="selectById" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM contract_form_info
        WHERE is_deleted=0
        AND id=#{id}
    </select>
    <!--  变更合同详情  -->
    <select id="selectByChangeId" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM contract_form_info
        WHERE is_deleted=0
        AND change_contract_id=#{id}
    </select>
    <!-- 分页 合同大类分组类型  合同分类总金额  合同分类签订数量-->
    <select id="pageListStatisticsType" resultMap="formInfoResultMap">
        SELECT contract_big_category,
        sum(contract_amount) AS contract_amount,
        count(contract_big_category) AS count,
        dict_value
        FROM `contract_form_info` info,
        blade_dict_biz biz
        WHERE info.is_deleted = 0
        AND info.contract_big_category = biz.id
        GROUP BY contract_big_category
        <!--金额区间查询-->
        <if test="contractFormInfo.maxAmount != null and contractFormInfo.maxAmount != '' or contractFormInfo.minAmount != null and contractFormInfo.minAmount != ''">
            and contract_amount between #{maxAmount} and #{minAmount}
        </if>
        <if test="contractFormInfo.minContractAmount != null and contractFormInfo.minContractAmount != ''">
            AND contract_amount &gt;= #{contractFormInfo.minContractAmount}
        </if>
        <if test="contractFormInfo.maxContractAmount != null and contractFormInfo.maxContractAmount != ''">
            AND contract_amount &lt;= #{contractFormInfo.maxContractAmount}
        </if>
    </select>
    <!--计算合同类型的签订合同数量-->
    <select id="selectSigningCount" resultType="java.lang.Integer">
        SELECT
        count(contract_status) AS signingCount
        FROM contract_form_info
        WHERE is_deleted = 0
        AND contract_status >= 60
        AND contract_big_category = #{contractBigCategory}
    </select>
    <!-- 分页 合同状态查找 合同分类总金额  合同分类签订数量-->
    <select id="pageListStatisticsStatus" resultMap="formInfoResultMap">
        SELECT contract_status,
        sum(contract_amount) AS contract_amount,
        count(contract_status) AS count
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0
        GROUP BY contract_status
        <!--金额区间查询-->
        <if test="contractFormInfo.maxAmount != null and contractFormInfo.maxAmount != '' or contractFormInfo.minAmount != null and contractFormInfo.minAmount != ''">
            and contract_amount between #{contractFormInfo.maxAmount} and #{contractFormInfo.minAmount}
        </if>
        <if test="contractFormInfo.minContractAmount != null and contractFormInfo.minContractAmount != ''">
            AND contract_amount &gt;= #{contractFormInfo.minContractAmount}
        </if>
        <if test="contractFormInfo.maxContractAmount != null and contractFormInfo.maxContractAmount != ''">
            AND contract_amount &lt;= #{contractFormInfo.maxContractAmount}
        </if>
    </select>
    <!-- 分页 合同支付类型查找 合同分类总金额  合同分类签订数量-->
    <select id="pageListStatisticsColPayType" resultMap="formInfoResultMap">
        SELECT col_pay_type,
        sum(contract_amount) AS contract_amount,
        count(col_pay_type) AS count,
        dict_value
        FROM `contract_form_info` info,
        blade_dict_biz biz
        WHERE info.is_deleted = 0
        AND info.col_pay_type = biz.id
        GROUP BY col_pay_type
        <!--金额区间查询-->
        <if test="contractFormInfo.maxAmount != null and contractFormInfo.maxAmount != '' or contractFormInfo.minAmount != null and contractFormInfo.minAmount != ''">
            and contract_amount between #{contractFormInfo.maxAmount} and #{contractFormInfo.minAmount}
        </if>
        <if test="contractFormInfo.minContractAmount != null and contractFormInfo.minContractAmount != ''">
            AND contract_amount &gt;= #{contractFormInfo.minContractAmount}
        </if>
        <if test="contractFormInfo.maxContractAmount != null and contractFormInfo.maxContractAmount != ''">
            AND contract_amount &lt;= #{contractFormInfo.maxContractAmount}
        </if>
    </select>
    <!-- 分页 -->
    <select id="pageList" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM contract_form_info
        WHERE is_deleted = 0
        <if test="contractFormInfo.contractStatus != null and contractFormInfo.contractStatus != ''">
            <foreach collection="contractFormInfo.code" item="contract_status" open="and contract_status in ("
                     separator="," close=")">
                #{contract_status}
            </foreach>
        </if>
        <if test="contractFormInfo.changeCategory != null and contractFormInfo.changeCategory != ''">
            AND change_category =#{contractFormInfo.changeCategory}
        </if>
--         合同名称查询
        <if test="contractFormInfo.contractName != null and contractFormInfo.contractName != ''">
            AND contract_name like concat('%', #{contractFormInfo.contractName}, '%')
        </if>
--         相对方名称查询
        <if test="contractFormInfo.counterpartName != null and contractFormInfo.counterpartName != ''">
            AND id IN(SELECT contract_id FROM contract_counterpart_setting WHERE counterpart_id IN(SELECT id FROM
            contract_counterpart WHERE `name` like concat('%', #{contractFormInfo.counterpartName}, '%')))
        </if>
        <if test="contractFormInfo.fileExportCategory != null and contractFormInfo.fileExportCategory != ''">
            AND file_export_category = #{contractFormInfo.fileExportCategory}
        </if>
        <if test="contractFormInfo.contractBigCategory != null and contractFormInfo.contractBigCategory != ''">
            AND contract_big_category like concat('%', #{contractFormInfo.contractBigCategory}, '%')
        </if>
        <if test="contractFormInfo.colPayType != null and contractFormInfo.colPayType != ''">
            AND col_pay_type = #{contractFormInfo.colPayType}
        </if>
        <if test="contractFormInfo.colPayTerm != null and contractFormInfo.colPayTerm != ''">
            AND col_pay_term = #{contractFormInfo.colPayTerm}
        </if>
        <if test="contractFormInfo.counterpartPerson != null and contractFormInfo.counterpartPerson != ''">
            AND counterpart_person like concat('%', #{contractFormInfo.counterpartPerson}, '%')
        </if>
        <if test="contractFormInfo.undestruction == 'undestruction'">
            AND file_time is not null
            And file_time != ''
            AND ((
            DATE_FORMAT(now(), '%y') - DATE_FORMAT(file_time, '%y')) &gt;= '6'
            OR ((
            DATE_FORMAT(now(), '%y') - DATE_FORMAT(file_time, '%y')) = '5'
            AND (
            DATE_FORMAT(now(), '%m') - DATE_FORMAT(file_time, '%m')) &gt;= '0'
            AND (
            DATE_FORMAT(now(), '%e') - DATE_FORMAT(file_time, '%e')) &gt;= '0'))
        </if>
        <if test="contractFormInfo.contractSmallCategory != null and contractFormInfo.contractSmallCategory != ''">
            AND contract_small_category like concat('%',#{contractFormInfo.contractSmallCategory},'%')
        </if>
        <if test="contractFormInfo.contractSoure != null and contractFormInfo.contractSoure != ''">
            AND contract_soure = concat(#{contractFormInfo.contractSoure})
        </if>
        <!--金额区间查询-->
        <if test="contractFormInfo.maxAmount != null and contractFormInfo.maxAmount != '' or contractFormInfo.minAmount != null and contractFormInfo.minAmount != ''">
            AND contract_amount between #{contractFormInfo.minAmount} and #{contractFormInfo.maxAmount}
        </if>
        <if test="contractFormInfo.minContractAmount != null and contractFormInfo.minContractAmount != ''">
            AND contract_amount &gt;= #{contractFormInfo.minContractAmount}
        </if>
        <if test="contractFormInfo.maxContractAmount != null and contractFormInfo.maxContractAmount != ''">
            AND contract_amount &lt;= #{contractFormInfo.maxContractAmount}
        </if>
        <if test="contractFormInfo.yearStart != null and contractFormInfo.yearStart != '' and contractFormInfo.yearEnd == null">
            AND id IN (SELECT ref_contract_id
            FROM contract_seal_using_info seal
            WHERE seal.is_deleted=0
            AND DATE_FORMAT(seal.sign_time,'%Y-%m-%d') &gt;= #{contractFormInfo.yearStart})
        </if>
        <if test="contractFormInfo.yearEnd != null and contractFormInfo.yearEnd != '' and contractFormInfo.yearStart == null">
            AND id IN (SELECT ref_contract_id
            FROM contract_seal_using_info seal
            WHERE seal.is_deleted=0
            AND DATE_FORMAT(seal.sign_time,'%Y-%m-%d') &lt;= #{contractFormInfo.yearEnd})
        </if>
        <if test="contractFormInfo.yearStart != null and contractFormInfo.yearStart != '' and contractFormInfo.yearEnd != null and contractFormInfo.yearEnd != ''">
            AND id IN (SELECT ref_contract_id
            FROM contract_seal_using_info seal
            WHERE seal.is_deleted=0
            AND DATE_FORMAT(seal.sign_time,'%Y-%m-%d') BETWEEN #{contractFormInfo.yearStart} and
            #{contractFormInfo.yearEnd})
        </if>
        ORDER BY create_time DESC
    </select>
    <!--修改合同状态-->
    <update id="updateExportStatus">
        UPDATE contract_form_info
        SET contract_status = #{contractStatus}
        WHERE id = #{id}
    </update>
    <!--计算合同金额-->
    <select id="selectAmountSum" resultType="java.lang.Double">
        select sum(contract_amount) AS contract_amount
        FROM contract_form_info
        WHERE is_deleted=0
        AND contract_big_category is not null
    </select>
    <!--用印分页-->
    <select id="pageListSealInfo" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnListJoin">
        </include>
        FROM contract_form_info a
        LEFT JOIN
        contract_seal_using_info b
        ON
        a.id = b.ref_contract_id
        <if test="contractFormInfoRequestVO.startingTime != null and contractFormInfoRequestVO.endTime != null">
            WHERE
            <if test="contractFormInfoRequestVO.startingTime != null">
                b.sign_time &gt; concat(#{contractFormInfoRequestVO.startingTime})
            </if>
            <if test="contractFormInfoRequestVO.endTime != null">
                AND b.sign_time &lt; concat(#{contractFormInfoRequestVO.endTime})
            </if>
            <if test="contractFormInfoRequestVO.minContractAmount != null">
                AND a.contract_amount &gt; concat(#{contractFormInfoRequestVO.minContractAmount})
            </if>
            <if test="contractFormInfoRequestVO.maxContractAmount != null">
                AND a.contract_amount &lt; concat(#{contractFormInfoRequestVO.maxContractAmount})
            </if>
        </if>
    </select>
    <!--保存关联相对方-->
    <insert id="saveCounterpart">
        insert into contract_counterpart_setting
        (contract_id,
        counterpart_id)
        values
        <foreach collection="counterpart" item="item" index="index" open="" close="" separator=",">
            (#{id},
            #{item.id})
        </foreach>
    </insert>


    <!--删除关联相对方-->
    <delete id="deleteCounterpart" parameterType="java.lang.Long">
        DELETE
        FROM contract_counterpart_setting
        WHERE contract_id = #{id}
    </delete>


    <!--保存关联依据-->
    <insert id="saveAccording">
        insert into contract_according_setting
        (contract_id,
        contract_according_id)
        values
        <foreach collection="accordingIds" item="item" index="index" open="" close="" separator=",">
            (#{id},
            #{item})
        </foreach>
    </insert>

    <!--保存关联用印-->
    <insert id="saveSeal">
        insert into contract_seal_using_setting
                (contract_id,
                 contract_seal_using_id)
        values (#{refContractId},
                #{sealId})
    </insert>
    <!--保存关联签订-->
    <insert id="saveSigning">
        insert into contract_signing_setting
                (contract_id,
                 contract_signing_id)
        values (#{contractId},
                #{signingId})
    </insert>
    <!--保存关联评估-->
    <insert id="saveAssessment">
        insert into contract_assessment_setting
                (contract_id,
                 contract_assessment_id)
        values (#{contractId},
                #{assessmentId})
    </insert>

    <!--保存关联归档-->
    <insert id="saveArchive">
        insert into contract_archive_setting
                (contract_id,
                 contract_archive_id)
        values (#{contractId},
                #{archiveId})
    </insert>

    <!--统计合同下载次数-->
    <update id="textExportCount">
        UPDATE contract_form_info
        SET file_export_count   = #{fileExportCount},
            file_export_category= #{fileExportCategory}
        WHERE id = #{id}
    </update>

    <!--合同大类金额-->
    <select id="getAmountList" resultMap="formInfoResultMap">
        SELECT contract_big_category,
               sum(contract_amount) AS contract_amount,
               dict_value
        FROM `contract_form_info` info,
             blade_dict_biz biz
        where info.contract_big_category = biz.id
        GROUP BY contract_big_category
    </select>
    <!--合同大类数量-->
    <select id="getNumList" resultMap="formInfoResultMap">
        SELECT count(contract_big_category) as count,
               contract_big_category,
               dict_value
        FROM `contract_form_info` info,
             blade_dict_biz biz
        where info.contract_big_category = biz.id
        GROUP BY contract_big_category
    </select>
    <!--根据合同大类查询合同金额总和-->
    <select id="getNumAmount" resultType="java.lang.Double">
        SELECT
            sum(contract_amount) AS contract_amount
        FROM contract_form_info
        WHERE
            contract_big_category = #{contractBigCategory}
    </select>
    <!--合同借阅，案件处理等模块所能操作的合同状态信息查询集合  動態返回合同選擇的下拉選-->
    <select id="getChooseList" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_form_info
        WHERE is_deleted=0
        AND contract_status='110'
    </select>
    <!--根据保证金id查询合同id-->
    <select id="findContractList" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_form_info
        WHERE is_deleted = 0
        AND
        id IN (SELECT c.contract_id FROM contract_bond_setting c WHERE c.bond_id = #{id})
    </select>
    <!--   范本使用的合同集合 -->
    <select id="getByIdForm" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM contract_form_info
        WHERE is_deleted = 0
        AND contract_template_id = #{id}
    </select>
    <!-- 分页 部门合同数量、金额统计表-->
    <select id="deptType" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0
        <if test="contractFormInfo.createDept != null and contractFormInfo.createDept != ''">
            AND info.create_dept=#{contractFormInfo.createDept}
        </if>
        <if test="contractFormInfo.yearStart != null and contractFormInfo.yearStart != ''">
            AND DATE_FORMAT(info.create_time,'%Y')=#{contractFormInfo.yearStart}
        </if>
        <if test="contractFormInfo.yearEnd != null and contractFormInfo.yearEnd != ''">
            AND DATE_FORMAT(info.create_time,'%Y')=#{contractFormInfo.yearEnd}
        </if>
        <if test="contractFormInfo.yearStart != null and contractFormInfo.yearStart != '' and contractFormInfo.yearEnd != null and contractFormInfo.yearEnd != ''">
            AND DATE_FORMAT(info.create_time,'%Y') BETWEEN #{contractFormInfo.yearStart} and #{contractFormInfo.yearEnd}
        </if>
    </select>
    <!-- 分页 月度合同数量统计表-->
    <select id="monthType" resultType="org.springblade.contract.entity.MonthTypeSelect">
        SELECT
        DATE_FORMAT(info.create_time,'%c') mouth,
        COUNT(DATE_FORMAT(info.create_time,'%c')) count
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0
        AND DATE_FORMAT(info.create_time,'%Y')=#{yearStart}
        AND create_dept=#{createDept}
        GROUP BY DATE_FORMAT(info.create_time,'%c')
    </select>
    <!-- 分页 月度合同集合信息统计-->
    <select id="monthByIdInfo" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0
        AND DATE_FORMAT(info.create_time,'%Y')=#{yearStart}
        AND DATE_FORMAT(info.create_time,'%c')=#{month}
        AND create_dept=#{createDept}
    </select>
    <!-- 分页公司類型分頁 -->
    <select id="monthTypeFirm" resultMap="formInfoResultMap">
        SELECT
        DISTINCT
        create_dept
        FROM contract_form_info
        WHERE is_deleted = 0
        AND create_dept in ( SELECT create_dept
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0)
        <if test="contractFormInfo.createDept != null and contractFormInfo.createDept != ''">
            AND create_dept &lt;= #{contractFormInfo.createDept}
        </if>
    </select>
    <!-- 分页 类型合同统计表-->
    <select id="eachType" resultMap="formInfoResultMap">
        SELECT contract_big_category,
        sum(contract_amount) AS contract_amount,
        count(contract_big_category) AS count,
        dict_value
        FROM `contract_form_info` info,
        blade_dict_biz biz
        WHERE info.is_deleted = 0
        AND info.contract_big_category = biz.id
        <if test="contractFormInfo.createDept != null and contractFormInfo.createDept != ''">
            AND info.create_dept=#{contractFormInfo.createDept}
        </if>
        <if test="contractFormInfo.yearStart != null and contractFormInfo.yearStart != '' and contractFormInfo.yearEnd == null">
            AND DATE_FORMAT(info.create_time,'%Y')=#{contractFormInfo.yearStart}
        </if>
        <if test="contractFormInfo.yearEnd != null and contractFormInfo.yearEnd != '' and contractFormInfo.yearStart == null">
            AND DATE_FORMAT(info.create_time,'%Y')=#{contractFormInfo.yearEnd}
        </if>
        <if test="contractFormInfo.yearStart != null and contractFormInfo.yearStart != '' and contractFormInfo.yearEnd != null and contractFormInfo.yearEnd != ''">
            AND DATE_FORMAT(info.create_time,'%Y') BETWEEN #{contractFormInfo.yearStart} and #{contractFormInfo.yearEnd}
        </if>
        GROUP BY info.contract_big_category
    </select>
    <!--根據支付類型計算合同金額-->
    <select id="payTypeAmount" resultType="java.math.BigDecimal">
        SELECT sum(contract_amount) AS contract_amount
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0
        AND info.contract_big_category=#{contractBigCategory}
        AND info.col_pay_type=#{colPayType}
        <if test="createDept != null and createDept != ''">
            AND info.create_dept=#{createDept}
        </if>
        <if test="yearStart != null and yearStart != '' and yearEnd == null">
            AND DATE_FORMAT(info.create_time,'%Y')=#{yearStart}
        </if>
        <if test="yearEnd != null and yearEnd != '' and yearStart == null ">
            AND DATE_FORMAT(info.create_time,'%Y')=#{yearEnd}
        </if>
        <if test="yearStart != null and yearStart != '' and yearEnd != null and yearEnd != ''">
            AND DATE_FORMAT(info.create_time,'%Y') BETWEEN #{yearStart} and #{yearEnd}
        </if>
    </select>

    <!--根據支付類型計算合同金額-->
    <select id="selectByContractNumber" resultMap="formInfoResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM `contract_form_info` info
        WHERE info.is_deleted = 0
        AND info.contract_big_category=#{contractFormInfo.contractBigCategory}
        AND info.contract_number != ''
        ORDER BY info.create_time Desc
    </select>
</mapper>
