<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.ContractTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="templateResultMap" type="org.springblade.contract.entity.ContractTemplateEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="template_number" property="templateNumber"/>
        <result column="contract_big_category" property="contractBigCategory"/>
        <result column="contract_small_category" property="contractSmallCategory"/>
        <result column="template_category" property="templateCategory"/>
        <result column="create_unit" property="createUnit"/>
        <result column="use_range" property="useRange"/>
        <result column="template_description" property="templateDescription"/>
        <result column="record_version" property="recordVersion"/>
        <result column="attached_files" property="attachedFiles"/>
        <result column="original_template_id" property="originalTemplateId"/>
        <result column="contract_id" property="contractId"/>
        <result column="template_status" property="templateStatus"/>
        <result column="authentic_performance_count" property="authenticPerformanceCount"/>
        <result column="completed_contract_count" property="completedContractCount"/>
        <result column="usage_rate" property="usageRate"/>
        <result column="remarks" property="remarks"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        template_category,
        contract_big_category,
        contract_small_category,
        template_description,
        record_version,
        template_number,
        attached_files,
        create_unit,
        use_range,
        original_template_id,
        contract_id,
        template_status,
        authentic_performance_count,
        completed_contract_count,
        usage_rate,
        remarks,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="templateResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM contract_template
        WHERE is_deleted = 0
        <if test="template.name != null and template.name != ''">
            AND name like concat('%', #{template.name}, '%')
        </if>
        <if test="template.templateCategory != null and template.templateCategory != ''">
            AND template_category like concat('%', #{template.templateCategory}, '%')
        </if>
        <if test="template.templateNumber != null and template.templateNumber != ''">
            AND template_number like concat('%', #{template.templateNumber}, '%')
        </if>
        <if test="template.contractSmallCategory != null and template.contractSmallCategory != ''">
            AND contract_small_category like concat('%', #{template.contractSmallCategory}, '%')
        </if>
        <if test="template.contractBigCategory != null and template.contractBigCategory != ''">
            AND contract_big_category like concat('%', #{template.contractBigCategory}, '%')
        </if>
        <if test="template.createUnit != null and template.createUnit != ''">
            AND create_unit = #{template.createUnit}
        </if>
        <!--范本集合查询条件-->
        <if test="template.templateStatus != null and template.templateStatus != ''">
            <foreach collection="template.code" item="template_status" open="and template_status in (" separator="," close=")">
                #{template_status}
            </foreach>
        </if>
    </select>

    <!--批量修改范本状态-->
    <update id="updateEachTemplateStatus">
        <foreach collection="ids" item="item" index="index" open="" close="" separator=";">
        UPDATE contract_template  SET
            template_status = #{item.templateStatus}
            WHERE id = #{item.id}
        </foreach>
    </update>
    <!--修改范本状态-->
    <update id="updateTemplateStatus">
        UPDATE contract_template SET template_status = #{templateStatus} WHERE id =#{id}
    </update>
    <!--查询模板历史版本-->
    <select id="versionInfo" resultMap="templateResultMap">
        SELECT
           <include refid="baseColumnList"></include>
        FROM contract_template
        WHERE is_deleted = 0
        AND id = #{id}
    </select>
</mapper>
