<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.MtbMarketResearchContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mtbMarketResearchContractResultMap" type="org.springblade.contract.entity.MtbMarketResearchContractEntity">
        <result column="id" property="id"/>
        <result column="patya" property="patya"/>
        <result column="party_address" property="partyAddress"/>
        <result column="number" property="number"/>
        <result column="paty_fax" property="patyFax"/>
        <result column="patyb" property="patyb"/>
        <result column="paty_addressb" property="patyAddressb"/>
        <result column="paty_phoneb" property="patyPhoneb"/>
        <result column="paty_faxb" property="patyFaxb"/>
        <result column="project_name" property="projectName"/>
        <result column="attachment" property="attachment"/>
        <result column="research" property="research"/>
        <result column="methods" property="methods"/>
        <result column="number_respondents" property="numberRespondents"/>
        <result column="require_respondents" property="requireRespondents"/>
        <result column="results" property="results"/>
        <result column="research1" property="research1"/>
        <result column="video" property="video"/>
        <result column="qualitative" property="qualitative"/>
        <result column="quantitative1" property="quantitative1"/>
        <result column="other" property="other"/>
        <result column="other1" property="other1"/>
        <result column="other2" property="other2"/>
        <result column="total_cost" property="totalCost"/>
        <result column="rate" property="rate"/>
        <result column="amount" property="amount"/>
        <result column="undertakesb" property="undertakesb"/>
        <result column="undertakesa" property="undertakesa"/>
        <result column="element" property="element"/>
        <result column="element1" property="element1"/>
        <result column="element2" property="element2"/>
        <result column="element3" property="element3"/>
        <result column="element4" property="element4"/>
        <result column="element5" property="element5"/>
        <result column="element6" property="element6"/>
        <result column="element7" property="element7"/>
        <result column="element8" property="element8"/>
        <result column="element9" property="element9"/>
        <result column="element10" property="element10"/>
        <result column="element11" property="element11"/>
        <result column="element12" property="element12"/>
        <result column="company" property="company"/>
        <result column="bank" property="bank"/>
        <result column="account" property="account"/>
        <result column="contact_address" property="contactAddress"/>
        <result column="postcode" property="postcode"/>
        <result column="contact" property="contact"/>
        <result column="telephone" property="telephone"/>
        <result column="paty_contact" property="patyContact"/>
        <result column="contact1" property="contact1"/>
        <result column="postcode1" property="postcode1"/>
        <result column="phon" property="phon"/>
        <result column="annex" property="annex"/>
        <result column="annex1" property="annex1"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        patya,
        party_address,
        number,
        paty_fax,
        patyb,
        paty_addressb,
        paty_phoneb,
        paty_faxb,
        project_name,
        attachment,
        research,
        methods,
        number_respondents,
        require_respondents,
        results,
        research1,
        video,
        qualitative,
        quantitative1,
        other,
        other1,
        other2,
        total_cost,
        rate,
        amount,
        undertakesb,
        undertakesa,
        element,
        element1,
        element2,
        element3,
        element4,
        element5,
        element6,
        element7,
        element8,
        element9,
        element10,
        element11,
        element12,
        company,
        bank,
        account,
        contact_address,
        postcode,
        contact,
        telephone,
        paty_contact,
        contact1,
        postcode1,
        phon,
        annex,
        annex1,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="mtbMarketResearchContractResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM mtb_market_research_contract
        WHERE is_deleted = 0
    </select>
</mapper>
