<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.MtlAudioProductionContract2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mtlAudioProductionContract2ResultMap" type="org.springblade.contract.entity.MtlAudioProductionContract2Entity">
        <result column="id" property="id"/>
        <result column="intellectual_property" property="intellectualProperty"/>
        <result column="service_life" property="serviceLife"/>
        <result column="use_area" property="useArea"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="contract_id" property="contractId"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        intellectual_property,
        service_life,
        use_area,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted,
        contract_id
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="mtlAudioProductionContract2ResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM mtl_audio_production_contract2
        WHERE is_deleted = 0
    </select>
</mapper>
