<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.MtlShootingAndProductionContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mtlShootingAndProductionContractResultMap" type="org.springblade.contract.entity.MtlShootingAndProductionContractEntity">
        <result column="id" property="id"/>
        <result column="mtl_paty_a" property="mtlPatyA"/>
        <result column="mtl_paty_a_email" property="mtlPatyAEmail"/>
        <result column="mtl_contact_email" property="mtlContactEmail"/>
        <result column="mtl_paty_b" property="mtlPatyB"/>
        <result column="mtl_paty_b_email" property="mtlPatyBEmail"/>
        <result column="mtl_paty_b_home" property="mtlPatyBHome"/>
        <result column="mtl_adaptation_issues" property="mtlAdaptationIssues"/>
        <result column="mtl_name_of_advertising" property="mtlNameOfAdvertising"/>
        <result column="mtl_contents_of_advertisements" property="mtlContentsOfAdvertisements"/>
        <result column="mtl_have_has_not" property="mtlHaveHasNot"/>
        <result column="mtl_submit_check" property="mtlSubmitCheck"/>
        <result column="mtl_production_start_time" property="mtlProductionStartTime"/>
        <result column="mtl_production_completion_time" property="mtlProductionCompletionTime"/>
        <result column="mtl_unpaid_tax_rmb" property="mtlUnpaidTaxRmb"/>
        <result column="mtl_rate" property="mtlRate"/>
        <result column="mtl_tax_amount_is_rmb" property="mtlTaxAmountIsRmb"/>
        <result column="mtl_company_name" property="mtlCompanyName"/>
        <result column="mtl_where_it_is" property="mtlWhereItIs"/>
        <result column="mtl_account" property="mtlAccount"/>
        <result column="mtl_acceptance" property="mtlAcceptance"/>
        <result column="mtl_dubbing_use" property="mtlDubbingUse"/>
        <result column="mtl_music_use" property="mtlMusicUse"/>
        <result column="mtl_singer_use" property="mtlSingerUse"/>
        <result column="date_signing" property="dateSigning"/>
        <result column="job_content" property="jobContent"/>
        <result column="contract_no" property="contractNo"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        mtl_paty_a,
        mtl_paty_a_email,
        mtl_contact_email,
        mtl_paty_b,
        mtl_paty_b_email,
        mtl_paty_b_home,
        mtl_adaptation_issues,
        mtl_name_of_advertising,
        mtl_contents_of_advertisements,
        mtl_have_has_not,
        mtl_production_start_time,
        mtl_production_completion_time,
        mtl_unpaid_tax_rmb,
         mtl_submit_check,
        mtl_rate,
        mtl_tax_amount_is_rmb,
        mtl_company_name,
        mtl_where_it_is,
        mtl_account,
        mtl_acceptance,
        mtl_music_use,
        mtl_singer_use,
        mtl_dubbing_use,
        date_signing,
        job_content,
        contract_no,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="mtlShootingAndProductionContractResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM mtl_shooting_and_production_contract
        WHERE is_deleted = 0
    </select>
</mapper>
