<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.MtlVideoProductionContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mtlVideoProductionContractResultMap" type="org.springblade.contract.entity.MtlVideoProductionContractEntity">
        <result column="id" property="id"/>
        <result column="mtl_paty_a" property="mtlPatyA"/>
        <result column="mtl_paty_a_email" property="mtlPatyAEmail"/>
        <result column="mtl_contact_email" property="mtlContactEmail"/>
        <result column="mtl_paty_b" property="mtlPatyB"/>
        <result column="mtl_paty_b_email" property="mtlPatyBEmail"/>
        <result column="mtl_paty_b_home" property="mtlPatyBHome"/>
        <result column="mtl_adaptation_issues" property="mtlAdaptationIssues"/>
        <result column="mtl_name_of_the_video" property="mtlNameOfTheVideo"/>
        <result column="mtl_video_content" property="mtlVideoContent"/>
        <result column="mtl_delivery_form" property="mtlDeliveryForm"/>
        <result column="mtl_number_of" property="mtlNumberOf"/>
        <result column="mtl_content_idea" property="mtlContentIdea"/>
        <result column="mtl_requirements" property="mtlRequirements"/>
        <result column="mtl_cost" property="mtlCost"/>
        <result column="mtl_have_has_not" property="mtlHaveHasNot"/>
        <result column="mtl_property_rights" property="mtlPropertyRights"/>
        <result column="mtl_small_kind" property="mtlSmallKind"/>
        <result column="mtl_use_period" property="mtlUsePeriod"/>
        <result column="mtl_use_area" property="mtlUseArea"/>
        <result column="mtl_production_start_time" property="mtlProductionStartTime"/>
        <result column="mtl_production_completion_time" property="mtlProductionCompletionTime"/>
        <result column="mtl_unpaid_tax_rmb" property="mtlUnpaidTaxRmb"/>
        <result column="mtl_rate" property="mtlRate"/>
        <result column="mtl_tax_amount_is_rmb" property="mtlTaxAmountIsRmb"/>
        <result column="mtl_company_name" property="mtlCompanyName"/>
        <result column="mtl_where_it_is" property="mtlWhereItIs"/>
        <result column="mtl_account" property="mtlAccount"/>
        <result column="mtl_acceptance" property="mtlAcceptance"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        mtl_paty_a,
        mtl_paty_a_email,
        mtl_contact_email,
        mtl_paty_b,
        mtl_paty_b_email,
        mtl_paty_b_home,
        mtl_adaptation_issues,
        mtl_name_of_the_video,
        mtl_video_content,
        mtl_delivery_form,
        mtl_number_of,
        mtl_content_idea,
        mtl_requirements,
        mtl_cost,
        mtl_have_has_not,
        mtl_property_rights,
        mtl_small_kind,
        mtl_use_period,
        mtl_use_area,
        mtl_production_start_time,
        mtl_production_completion_time,
        mtl_unpaid_tax_rmb,
        mtl_rate,
        mtl_tax_amount_is_rmb,
        mtl_company_name,
        mtl_where_it_is,
        mtl_account,
        mtl_acceptance,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="mtlVideoProductionContractResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM mtl_video_production_contract
        WHERE is_deleted = 0
    </select>
</mapper>
