<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.PerPlanFinshContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="perPlanFinshContentResultMap" type="org.springblade.contract.entity.PerPlanFinshContentEntity">
        <result column="id" property="id"/>
        <result column="plan_finsh_content" property="planFinshContent"/>
        <result column="finsh_time_up" property="finshTimeUp"/>
        <result column="finsh_content_up" property="finshContentUp"/>
        <result column="plan_finsh_time_id" property="planFinshTimeId"/>
        <result column="contract_id" property="contractId"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        plan_finsh_content,
        finsh_time_up,
        finsh_content_up,
        plan_finsh_time_id,
        contract_id,
        status,
        is_deleted,
        create_user,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="perPlanFinshContentResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM per_plan_finsh_content
        WHERE is_deleted = 0
    </select>
</mapper>
