<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.PerServiceContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="perServiceContentResultMap" type="org.springblade.contract.entity.PerServiceContentEntity">
        <result column="id" property="id"/>
        <result column="service_content" property="serviceContent"/>
        <result column="contract_tran_type" property="contractTranType" />
        <result column="contract_id" property="contractId"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="service" property="service"/>
    </resultMap>

    <!-- 接收/提供服务计划清单实体 -->
    <resultMap id="perServiceContentListMap" type="org.springblade.contract.vo.PerServiceContentListResponseVO">
        <result column="id" property="id"/>
        <result column="contract_name" property="contractName"/>
        <result column="service" property="service"/>
        <result column="contract_tran_type" property="contractTranType"/>
        <result column="contract_status" property="contractStatus"/>
        <result column="service_content" property="serviceContent"/>
        <result column="plan_finsh_time" property="planFinshTime"/>
        <result column="plan_finsh_content" property="planFinshContent"/>
        <result column="finsh_time_up" property="finshTimeUp"/>
        <result column="finsh_content_up" property="finshContentUp"/>
        <result column="service_content_id" property="serviceContentId" />
        <result column="plan_finsh_time_id" property="planFinshTimeId" />
    </resultMap>


    <!-- 详情查询结果 -->
    <resultMap id="perServiceContentDetailResultMap" type="org.springblade.contract.vo.PerServiceContentResponseVO">
        <result column="id" property="id"/>
        <result column="service_content" property="serviceContent"/>
        <result column="contract_tran_type" property="contractTranType" />
        <result column="contract_id" property="contractId"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="service" property="service"/>
        <collection property="perPlanFinshTimeRequestVOList" javaType="java.util.ArrayList" ofType="org.springblade.contract.vo.PerPlanFinshTimeResponseVO">
            <result column="plan_finsh_time" property="planFinshTime"/>
            <result column="service_content_id" property="serviceContentId" />
            <collection property="perPlanFinshContentRequestVOList" javaType="java.util.ArrayList" ofType="org.springblade.contract.vo.PerPlanFinshContentResponseVO">
                <result column="plan_finsh_content" property="planFinshContent"/>
                <result column="finsh_time_up" property="finshTimeUp" />
                <result column="finsh_content_up" property="finshContentUp" />
                <result column="plan_finsh_time_id" property="planFinshTimeId"/>
            </collection>
        </collection>
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        service_content,
        contract_tran_type,
        contract_id,
        status,
        is_deleted,
        create_user,
        update_user,
        update_time,
        create_dept,
        service
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="perServiceContentResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM per_service_content
        WHERE is_deleted = 0
    </select>



    <select id="findInfoByContractId" resultMap="perServiceContentDetailResultMap">
        SELECT
            psc.service_content,
            psc.contract_tran_type,
            psc.service,
            psc.contract_id,
            ppft.plan_finsh_time,
            ppft.service_content_id,
            ppfc.plan_finsh_content,
            ppfc.finsh_time_up,
            ppfc.finsh_content_up,
            ppfc.plan_finsh_time_id
        FROM
            per_service_content psc
                LEFT JOIN per_plan_finsh_time ppft ON psc.id = ppft.service_content_id
                LEFT JOIN per_plan_finsh_content ppfc ON ppft.id = ppfc.plan_finsh_time_id
        WHERE
            psc.is_deleted = 0
          AND
            ppft.is_deleted = 0
          AND
            ppfc.is_deleted = 0
          AND
            psc.contract_id = #{contractId}
    </select>





    <select id="serviceContentList" resultMap="perServiceContentListMap">
        SELECT
            cinfo.id,
            cinfo.contract_name,
            psc.service,
            psc.contract_tran_type,
            cinfo.contract_status,
            psc.id as service_content_id,
            psc.service_content,
            pft.id as plan_finsh_time_id,
            pft.plan_finsh_time,
            pfc.plan_finsh_content,
            pfc.finsh_time_up,
            pfc.finsh_content_up
        FROM
            contract_form_info cinfo
                LEFT JOIN per_service_content psc ON cinfo.id = psc.contract_id
                LEFT JOIN per_plan_finsh_time pft ON psc.id = pft.service_content_id
                LEFT JOIN per_plan_finsh_content pfc ON pft.id = pfc.plan_finsh_time_id
        WHERE
            cinfo.is_deleted = 0
          AND psc.is_deleted = 0
          AND pft.is_deleted = 0
          AND pfc.is_deleted = 0
        <if test="perServiceContent.contractTranType != null and perServiceContent.contractTranType != ''">
            and psc.contract_tran_type = #{perServiceContent.contractTranType}
        </if>
        <if test="perServiceContent.serviceContent != null and perServiceContent.serviceContent != ''">
            and psc.service_content like concat('%',#{perServiceContent.serviceContent},'%')
        </if>
    </select>

</mapper>
