<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.SclConstructionProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sclConstructionProjectResultMap" type="org.springblade.contract.entity.SclConstructionProjectEntity">
        <result column="id" property="id"/>
        <result column="scl_ordering_party" property="sclOrderingParty"/>
        <result column="scl_party_address" property="sclPartyAddress"/>
        <result column="scl_contractor" property="sclContractor"/>
        <result column="scl_address_of_contractor" property="sclAddressOfContractor"/>
        <result column="scl_start_time" property="sclStartTime"/>
        <result column="scl_completion_time" property="sclCompletionTime"/>
        <result column="scl_processing_way" property="sclProcessingWay"/>
        <result column="scl_expense_bearing_party" property="sclExpenseBearingParty"/>
        <result column="scl_expense_bearing_party1" property="sclExpenseBearingParty1"/>
        <result column="scl_risk_of_loss" property="sclRiskOfLoss"/>
        <result column="scl_payment_time" property="sclPaymentTime"/>
        <result column="scl_date_of_request" property="sclDateOfRequest"/>
        <result column="scl_name_of_bank" property="sclNameOfBank"/>
        <result column="scl_account_name" property="sclAccountName"/>
        <result column="scl_bank_number" property="sclBankNumber"/>
        <result column="scl_deposit" property="sclDeposit"/>
        <result column="scl_deposits" property="sclDeposits"/>
        <result column="scl_penalties" property="sclPenalties"/>
        <result column="scl_breach_of_contract" property="sclBreachOfContract"/>
        <result column="scl_datatime" property="sclDatatime"/>
        <result column="scl_processing_fee1" property="sclProcessingFee1"/>
        <result column="scl_breach_of_contract78" property="sclBreachOfContract78"/>
        <result column="scl_breach_of_contract711" property="sclBreachOfContract711"/>
        <result column="scl_breach_of_contract712" property="sclBreachOfContract712"/>
        <result column="scl_breach_of_contract7151" property="sclBreachOfContract7151"/>
        <result column="scl_breach_of_contract7152" property="sclBreachOfContract7152"/>
        <result column="scl_paid" property="sclPaid"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        scl_ordering_party,
        scl_party_address,
        scl_contractor,
        scl_address_of_contractor,
        scl_start_time,
        scl_completion_time,
        scl_processing_way,
        scl_expense_bearing_party,
        scl_expense_bearing_party1,
        scl_risk_of_loss,
        scl_payment_time,
        scl_date_of_request,
        scl_name_of_bank,
        scl_account_name,
        scl_bank_number,
        scl_deposit,
        scl_deposits,
        scl_penalties,
        scl_breach_of_contract,
        scl_datatime,
        scl_processing_fee1,
        scl_breach_of_contract78,
        scl_breach_of_contract711,
        scl_breach_of_contract712,
        scl_breach_of_contract7151,
        scl_breach_of_contract7152,
        scl_paid,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="sclConstructionProjectResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM scl_construction_project
        WHERE is_deleted = 0
    </select>
</mapper>
