<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.SclEquipmentMaintenance1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sclEquipmentMaintenance1ResultMap" type="org.springblade.contract.entity.SclEquipmentMaintenance1Entity">
        <result column="id" property="id"/>
        <result column="scl_number" property="sclNumber"/>
        <result column="scl_device_name" property="sclDeviceName"/>
        <result column="scl_brand" property="sclBrand"/>
        <result column="scl_specification" property="sclSpecification"/>
        <result column="scl_price" property="sclPrice"/>
        <result column="scl_numbers" property="sclNumbers"/>
        <result column="scl_other" property="sclOther"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="contract_id" property="contractId"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        scl_number,
        scl_device_name,
        scl_brand,
        scl_specification,
        scl_price,
        scl_numbers,
        scl_other,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        contract_id
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="sclEquipmentMaintenance1ResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM scl_equipment_maintenance_1
        WHERE is_deleted = 0
    </select>
</mapper>
