<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.SclProjectOutsourcing1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sclProjectOutsourcing1ResultMap" type="org.springblade.contract.entity.SclProjectOutsourcing1Entity">
        <result column="id" property="id"/>
        <result column="scl_number" property="sclNumber"/>
        <result column="scl_acount" property="sclAcount"/>
        <result column="scl_measuring" property="sclMeasuring"/>
        <result column="scl_price" property="sclPrice"/>
        <result column="scl_overview" property="sclOverview"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        scl_number,
        scl_acount,
        scl_measuring,
        scl_price,
        scl_overview,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="sclProjectOutsourcing1ResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM scl_project_outsourcing_1
        WHERE is_deleted = 0
    </select>
</mapper>
