<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.SclProductionCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sclProductionCategoryResultMap" type="org.springblade.contract.entity.SclProductionCategoryEntity">
        <result column="id" property="id"/>
        <result column="scl_party_a" property="sclPartyA"/>
        <result column="scl_party_b" property="sclPartyB"/>
        <result column="scl_year" property="sclYear"/>
        <result column="scl_month" property="sclMonth"/>
        <result column="scl_day" property="sclDay"/>
        <result column="scl_site" property="sclSite"/>
        <result column="scl_storage" property="sclStorage"/>
        <result column="scl_area" property="sclArea"/>
        <result column="scl_no" property="sclNo"/>
        <result column="scl_storageee" property="sclStorageee"/>
        <result column="scl_conditionsa" property="sclConditionsa"/>
        <result column="scl_number" property="sclNumber"/>
        <result column="scl_services" property="sclServices"/>
        <result column="scl_food" property="sclFood"/>
        <result column="scl_drinks" property="sclDrinks"/>
        <result column="scl_dairy" property="sclDairy"/>
        <result column="scl_date_ofs" property="sclDateOfs"/>
        <result column="scl_requirementsss" property="sclRequirementsss"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        scl_party_a,
        scl_party_b,
        scl_year,
        scl_month,
        scl_day,
        scl_site,
        scl_storage,
        scl_area,
        scl_no,
        scl_storageee,
        scl_conditionsa,
        scl_number,
        scl_services,
        scl_food,
        scl_drinks,
        scl_dairy,
        scl_date_ofs,
        scl_requirementsss,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="sclProductionCategoryResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM scl_production_category
        WHERE is_deleted = 0
    </select>
</mapper>
