<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.SclServiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sclServiceResultMap" type="org.springblade.contract.entity.SclServiceEntity">
        <result column="id" property="id"/>
        <result column="scl_partya" property="sclPartya"/>
        <result column="scl_partyb" property="sclPartyb"/>
        <result column="date" property="date"/>
        <result column="scl_site" property="sclSite"/>
        <result column="scl_storage" property="sclStorage"/>
        <result column="scl_area" property="sclArea"/>
        <result column="scl_no" property="sclNo"/>
        <result column="scl_storageee" property="sclStorageee"/>
        <result column="scl_conditionsa" property="sclConditionsa"/>
        <result column="scl_number" property="sclNumber"/>
        <result column="scl_services" property="sclServices"/>
        <result column="scl_food" property="sclFood"/>
        <result column="scl_drinks" property="sclDrinks"/>
        <result column="scl_dairy" property="sclDairy"/>
        <result column="scl_water" property="sclWater"/>
        <result column="scl_requirementsp" property="sclRequirementsp"/>
        <result column="scl_range" property="sclRange"/>
        <result column="scl_areae" property="sclAreae"/>
        <result column="scl_requirementse" property="sclRequirementse"/>
        <result column="scl_contractd" property="sclContractd"/>
        <result column="scl_second" property="sclSecond"/>
        <result column="scl_breach" property="sclBreach"/>
        <result column="scl_provide" property="sclProvide"/>
        <result column="scl_hours" property="sclHours"/>
        <result column="scl_morning" property="sclMorning"/>
        <result column="scl_afternoon" property="sclAfternoon"/>
        <result column="scl_advance" property="sclAdvance"/>
        <result column="scl_season" property="sclSeason"/>
        <result column="scl_return" property="sclReturn"/>
        <result column="scl_requesta" property="sclRequesta"/>
        <result column="scl_items" property="sclItems"/>
        <result column="scl_date" property="sclDate"/>
        <result column="scl_date1" property="sclDate1"/>
        <result column="scl_date2" property="sclDate2"/>
        <result column="scl_requirementsf" property="sclRequirementsf"/>
        <result column="scl_transfer" property="sclTransfer"/>
        <result column="scl_ofs" property="sclOfs"/>
        <result column="scl_requirementsss" property="sclRequirementsss"/>
        <result column="scl_standard" property="sclStandard"/>
        <result column="scl_aread" property="sclAread"/>
        <result column="scl_warehouse" property="sclWarehouse"/>
        <result column="scl_goods" property="sclGoods"/>
        <result column="day1" property="day1"/>
        <result column="day2" property="day2"/>
        <result column="day3" property="day3"/>
        <result column="day4" property="day4"/>
        <result column="scl_yuan" property="sclYuan"/>
        <result column="scl_whole" property="sclWhole"/>
        <result column="scl_lead" property="sclLead"/>
        <result column="scl_requirementsd" property="sclRequirementsd"/>
        <result column="scl_times" property="sclTimes"/>
        <result column="scl_contract" property="sclContract"/>
        <result column="day5" property="day5"/>
        <result column="scl_number1" property="sclNumber1"/>
        <result column="scl_multiple" property="sclMultiple"/>
        <result column="scl_requirementsa" property="sclRequirementsa"/>
        <result column="scl_containing" property="sclContaining"/>
        <result column="scl_ninth" property="sclNinth"/>
        <result column="scl_cost" property="sclCost"/>
        <result column="scl_bank" property="sclBank"/>
        <result column="scl_conditions" property="sclConditions"/>
        <result column="scl_date3" property="sclDate3"/>
        <result column="day6" property="day6"/>
        <result column="scl_ratio" property="sclRatio"/>
        <result column="start_times" property="startTimes"/>
        <result column="end_times" property="endTimes"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="contract_id" property="contractId"/>
        <result column="day" property="day"/>
        <result column="traffic" property="traffic"/>
        <result column="area" property="area"/>
        <result column="address" property="address"/>
        <result column="addressb" property="addressb"/>
        <result column="telephone" property="telephone"/>
        <result column="telephoneb" property="telephoneb"/>
        <result column="fax" property="fax"/>
        <result column="faxb" property="faxb"/>
        <result column="account_number" property="accountNumber"/>
        <result column="account_numberb" property="accountNumberb"/>
        <result column="deposit" property="deposit"/>
        <result column="depositb" property="depositb"/>
        <result column="date1" property="date1"/>
        <result column="date2" property="date2"/>
        <result column="client" property="client"/>
        <result column="client1" property="client1"/>
        <result column="client2" property="client2"/>
        <result column="client3" property="client3"/>
        <result column="number" property="number"/>
        <result column="number1" property="number1"/>
        <result column="number2" property="number2"/>
        <result column="mail" property="mail"/>
        <result column="shipping_summons" property="shippingSummons"/>
        <result column="dispatching" property="dispatching"/>
        <result column="management" property="management"/>
        <result column="other" property="other"/>
        <result column="date3" property="date3"/>
        <result column="date4" property="date4"/>
        <result column="client4" property="client4"/>
        <result column="client5" property="client5"/>
        <result column="number3" property="number3"/>
        <result column="phone" property="phone"/>
        <result column="mail1" property="mail1"/>
        <result column="postal_address" property="postalAddress"/>
        <result column="company" property="company"/>
        <result column="day7" property="day7"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        scl_partya,
        scl_partyb,
        date,
        scl_site,
        scl_storage,
        scl_area,
        scl_no,
        scl_storageee,
        scl_conditionsa,
        scl_number,
        scl_services,
        scl_food,
        scl_drinks,
        scl_dairy,
        scl_water,
        scl_requirementsp,
        scl_range,
        scl_areae,
        scl_requirementse,
        scl_contractd,
        scl_second,
        scl_breach,
        scl_provide,
        scl_hours,
        scl_morning,
        scl_afternoon,
        scl_advance,
        scl_season,
        scl_return,
        scl_requesta,
        scl_items,
        scl_date,
        scl_date1,
        scl_date2,
        scl_requirementsf,
        scl_transfer,
        scl_ofs,
        scl_requirementsss,
        scl_standard,
        scl_aread,
        scl_warehouse,
        scl_goods,
        day1,
        day2,
        day3,
        day4,
        scl_yuan,
        scl_whole,
        scl_lead,
        scl_requirementsd,
        scl_times,
        scl_contract,
        day5,
        scl_number1,
        scl_multiple,
        scl_requirementsa,
        scl_containing,
        scl_ninth,
        scl_cost,
        scl_bank,
        scl_conditions,
        scl_date3,
        day6,
        scl_ratio,
        start_times,
        end_times,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        contract_id,
        day,
        traffic,
        area,
        address,
        addressb,
        telephone,
        telephoneb,
        fax,
        faxb,
        account_number,
        account_numberb,
        deposit,
        depositb,
        date1,
        date2,
        client,
        client1,
        client2,
        client3,
        number,
        number1,
        number2,
        mail,
        shipping_summons,
        dispatching,
        management,
        other,
        date3,
        date4,
        client4,
        client5,
        number3,
        phone,
        mail1,
        postal_address,
        company,
        day7
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="sclServiceResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM scl_service
        WHERE is_deleted = 0
    </select>
</mapper>
