<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.SclServiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sclServiceResultMap" type="org.springblade.contract.entity.SclServiceEntity">
        <result column="id" property="id"/>
        <result column="scl_party_a" property="sclPartyA"/>
        <result column="scl_party_b" property="sclPartyB"/>
        <result column="scl_year" property="sclYear"/>
        <result column="scl_month" property="sclMonth"/>
        <result column="scl_day" property="sclDay"/>
        <result column="scl_site" property="sclSite"/>
        <result column="scl_storage" property="sclStorage"/>
        <result column="scl_area" property="sclArea"/>
        <result column="scl_no" property="sclNo"/>
        <result column="scl_storageee" property="sclStorageee"/>
        <result column="scl_conditionsa" property="sclConditionsa"/>
        <result column="scl_number" property="sclNumber"/>
        <result column="scl_services" property="sclServices"/>
        <result column="scl_food" property="sclFood"/>
        <result column="scl_drinks" property="sclDrinks"/>
        <result column="scl_dairy" property="sclDairy"/>
        <result column="scl_water" property="sclWater"/>
        <result column="scl_requirementsp" property="sclRequirementsp"/>
        <result column="scl_range" property="sclRange"/>
        <result column="scl_areae" property="sclAreae"/>
        <result column="scl_requirementse" property="sclRequirementse"/>
        <result column="scl_contractd" property="sclContractd"/>
        <result column="scl_second" property="sclSecond"/>
        <result column="scl_breach" property="sclBreach"/>
        <result column="scl_provide" property="sclProvide"/>
        <result column="scl_hours" property="sclHours"/>
        <result column="scl_morning" property="sclMorning"/>
        <result column="scl_afternoon" property="sclAfternoon"/>
        <result column="scl_advance" property="sclAdvance"/>
        <result column="scl_season" property="sclSeason"/>
        <result column="scl_return" property="sclReturn"/>
        <result column="scl_requesta" property="sclRequesta"/>
        <result column="scl_Items" property="sclItems"/>
        <result column="scl_date" property="sclDate"/>
        <result column="scl_requirementsddd" property="sclRequirementsddd"/>
        <result column="scl_third" property="sclThird"/>
        <result column="scl_requirementsf" property="sclRequirementsf"/>
        <result column="scl_transfer" property="sclTransfer"/>
        <result column="scl_date_ofs" property="sclDateOfs"/>
        <result column="scl_requirementsss" property="sclRequirementsss"/>
        <result column="scl_standard" property="sclStandard"/>
        <result column="scl_aread" property="sclAread"/>
        <result column="scl_warehouse" property="sclWarehouse"/>
        <result column="scl_goods" property="sclGoods"/>
        <result column="scl_request" property="sclRequest"/>
        <result column="scl_dates" property="sclDates"/>
        <result column="scl_item" property="sclItem"/>
        <result column="scl_time" property="sclTime"/>
        <result column="scl_yuan" property="sclYuan"/>
        <result column="scl_whole" property="sclWhole"/>
        <result column="scl_lead" property="sclLead"/>
        <result column="scl_requirementsd" property="sclRequirementsd"/>
        <result column="scl_times" property="sclTimes"/>
        <result column="scl_contract" property="sclContract"/>
        <result column="scl_requirements" property="sclRequirements"/>
        <result column="scl_number_of" property="sclNumberOf"/>
        <result column="scl_multiple" property="sclMultiple"/>
        <result column="scl_requirementsa" property="sclRequirementsa"/>
        <result column="scl_containing" property="sclContaining"/>
        <result column="scl_ninth" property="sclNinth"/>
        <result column="scl_cost" property="sclCost"/>
        <result column="scl_bank" property="sclBank"/>
        <result column="scl_conditions" property="sclConditions"/>
        <result column="scl_date_of" property="sclDateOf"/>
        <result column="scl_requirementsaaadd" property="sclRequirementsaaadd"/>
        <result column="scl_ratio" property="sclRatio"/>
        <result column="scl_start_times" property="sclStartTimes"/>
        <result column="scl_end_times" property="sclEndTimes"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="contract_id" property="contractId"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        scl_party_a,
        scl_party_b,
        scl_year,
        scl_month,
        scl_day,
        scl_site,
        scl_storage,
        scl_area,
        scl_no,
        scl_storageee,
        scl_conditionsa,
        scl_number,
        scl_services,
        scl_food,
        scl_drinks,
        scl_dairy,
        scl_water,
        scl_requirementsp,
        scl_range,
        scl_areae,
        scl_requirementse,
        scl_contractd,
        scl_second,
        scl_breach,
        scl_provide,
        scl_hours,
        scl_morning,
        scl_afternoon,
        scl_advance,
        scl_season,
        scl_return,
        scl_requesta,
        scl_Items,
        scl_date,
        scl_requirementsddd,
        scl_third,
        scl_requirementsf,
        scl_transfer,
        scl_date_ofs,
        scl_requirementsss,
        scl_standard,
        scl_aread,
        scl_warehouse,
        scl_goods,
        scl_request,
        scl_dates,
        scl_item,
        scl_time,
        scl_yuan,
        scl_whole,
        scl_lead,
        scl_requirementsd,
        scl_times,
        scl_contract,
        scl_requirements,
        scl_number_of,
        scl_multiple,
        scl_requirementsa,
        scl_containing,
        scl_ninth,
        scl_cost,
        scl_bank,
        scl_conditions,
        scl_date_of,
        scl_requirementsaaadd,
        scl_ratio,
        scl_start_times,
        scl_end_times,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept,
        contract_id
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="sclServiceResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM scl_service
        WHERE is_deleted = 0
    </select>
</mapper>
