<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="templateResultMap" type="org.springblade.contract.entity.TemplateEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="template_category" property="templateCategory"/>
        <result column="contract_big_category" property="contractBigCategory"/>
        <result column="contract_small_category" property="contractSmallCategory"/>
        <result column="template_description" property="templateDescription"/>
        <result column="attached_files" property="attachedFiles"/>
        <result column="management_dept" property="managementDept"/>
        <result column="management_unit" property="managementUnit"/>
        <result column="manager" property="manager"/>
        <result column="upload_time" property="uploadTime"/>
        <result column="contract_id" property="contractId"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        template_category,
        contract_big_category,
        contract_small_category,
        template_description,
        attached_files,
        management_dept,
        management_unit,
        manager,
        upload_time,
        contract_id,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="templateResultMap">
        SELECT
            <include refid="baseColumnList"> </include>
        FROM contract_template
        WHERE is_deleted = 0
    </select>
</mapper>
