<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.YwbBusContractTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ywbBusinessContractTemplateResultMap" type="org.springblade.contract.entity.YwbBusinessContractTemplateEntity">
        <result column="id" property="id"/>
        <result column="ywb_lessors" property="ywbLessors"/>
        <result column="ywb_certificate" property="ywbCertificate"/>
        <result column="ywb_address" property="ywbAddress"/>
        <result column="ywb_tenantry" property="ywbTenantry"/>
        <result column="ywb_certificate_b" property="ywbCertificateB"/>
        <result column="ywb_residence" property="ywbResidence"/>
        <result column="ywb_agrees" property="ywbAgrees"/>
        <result column="ywb_builtup_area" property="ywbBuiltupArea"/>
        <result column="ywb_rooms" property="ywbRooms"/>
        <result column="ywb_party_room" property="ywbPartyRoom"/>
        <result column="ywb_term_start" property="ywbTermStart"/>
        <result column="ywb_shall" property="ywbShall"/>
        <result column="ywb_requirement" property="ywbRequirement"/>
        <result column="ywb_standard" property="ywbStandard"/>
        <result column="ywb_payment" property="ywbPayment"/>
        <result column="ywb_totalrent" property="ywbTotalrent"/>
        <result column="ywb_bank_remittance" property="ywbBankRemittance"/>
        <result column="ywb_mdmbs_contract" property="ywbMdmbsContract"/>
        <result column="ywb_hmdbf_previous" property="ywbHmdbfPrevious"/>
        <result column="ywb_shall_capitali" property="ywbShallCapitali"/>
        <result column="ywb_shall_rmba" property="ywbShallRmba"/>
        <result column="ywb_proportion" property="ywbProportion"/>
        <result column="ywb_terminclude" property="ywbTerminclude"/>
        <result column="ywb_period" property="ywbPeriod"/>
        <result column="ywb_requirementaes" property="ywbRequirementaes"/>
        <result column="ywb_compensationaes" property="ywbCompensationaes"/>
        <result column="ywb_time_requirement" property="ywbTimeRequirement"/>
        <result column="ywb_agreements" property="ywbAgreements"/>
        <result column="ywb_hmcopies" property="ywbHmcopies"/>
        <result column="ywb_hmcopiesaes" property="ywbHmcopiesaes"/>
        <result column="ywb_hmcopiesbes" property="ywbHmcopiesbes"/>
        <result column="ywb_attachments" property="ywbAttachments"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="ywb_term_end" property="ywbTermEnd"/>
        <result column="ywb_jiaofu" property="ywbJiaofu"/>
        <result column="ywb_shuilv" property="ywbShuilv"/>
        <result column="ywb_zujinjine" property="ywbZujinjine"/>
        <result column="ywb_zujinjined" property="ywbZujinjined"/>
        <result column="ywb_qianmingjia" property="ywbQianmingjia"/>
        <result column="ywb_qianmingyi" property="ywbQianmingyi"/>
        <result column="ywb_qianmingdai" property="ywbQianmingdai"/>
        <result column="ywb_qianmingdaia" property="ywbQianmingdaia"/>
        <result column="ywb_kaihuhangjia" property="ywbKaihuhangjia"/>
        <result column="ywb_kaihuhangjiaa" property="ywbKaihuhangjiaa"/>
        <result column="ywb_zhanghaojia" property="ywbZhanghaojia"/>
        <result column="ywb_zhanghaoyi" property="ywbZhanghaoyi"/>
        <result column="ywb_dianhuajia" property="ywbDianhuajia"/>
        <result column="ywb_dianhuayi" property="ywbDianhuayi"/>
        <result column="ywb_adreesqian" property="ywbAdreesqian"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        ywb_lessors,
        ywb_certificate,
        ywb_address,
        ywb_tenantry,
        ywb_certificate_b,
        ywb_residence,
        ywb_agrees,
        ywb_builtup_area,
        ywb_rooms,
        ywb_party_room,
        ywb_term_start,
        ywb_shall,
        ywb_requirement,
        ywb_standard,
        ywb_payment,
        ywb_totalrent,
        ywb_bank_remittance,
        ywb_mdmbs_contract,
        ywb_hmdbf_previous,
        ywb_shall_capitali,
        ywb_shall_rmba,
        ywb_proportion,
        ywb_terminclude,
        ywb_period,
        ywb_requirementaes,
        ywb_compensationaes,
        ywb_time_requirement,
        ywb_agreements,
        ywb_hmcopies,
        ywb_hmcopiesaes,
        ywb_hmcopiesaes,
        ywb_attachments,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted,
        ywb_term_end,
        ywb_jiaofu,
        ywb_shuilv,
        ywb_zujinjine,
        ywb_zujinjined,
        ywb_qianmingjia,
        ywb_qianmingyi,
        ywb_qianmingdai,
        ywb_qianmingdaia,
        ywb_kaihuhangjia,
        ywb_kaihuhangjiaa,
        ywb_zhanghaojia,
        ywb_zhanghaoyi,
        ywb_dianhuajia,
        ywb_dianhuayi,
        ywb_adreesqian
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="ywbBusinessContractTemplateResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM ywb_business_contract_template
        WHERE is_deleted = 0
    </select>
</mapper>
