<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.YwbDirectSalesCustomersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ywbDirectSalesCustomersResultMap" type="org.springblade.contract.entity.YwbDirectSalesCustomersEntity">
        <result column="id" property="id"/>
        <result column="first_party" property="firstParty"/>
        <result column="party_b" property="partyB"/>
        <result column="email_address_designated" property="emailAddressDesignated"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        first_party,
        party_b,
        email_address_designated,
        is_deleted,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="ywbDirectSalesCustomersResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM ywb_direct_sales_customers
        WHERE is_deleted = 0
    </select>
</mapper>
