<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.contract.mapper.YwlANewDisplay1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ywlANewDisplay1ResultMap" type="org.springblade.contract.entity.YwlANewDisplay1Entity">
        <result column="id" property="id"/>
        <result column="ywl_number" property="ywlNumber"/>
        <result column="ywl_display_products" property="ywlDisplayProducts"/>
        <result column="ywl_display_mode" property="ywlDisplayMode"/>
        <result column="ywl_merchandising_standards" property="ywlMerchandisingStandards"/>
        <result column="contract_id" property="contractId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        ywl_number,
        ywl_display_products,
        ywl_display_mode,
        ywl_merchandising_standards,
        contract_id,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="ywlANewDisplay1ResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM ywl_a_new_display1
        WHERE is_deleted = 0
    </select>
</mapper>
