<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.DataSealAuthorityMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="dataSealAuthorityResultMap" type="org.springblade.system.entity.DataSealAuthorityEntity">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="role_name" property="roleName"/>
        <result column="role_id" property="roleId"/>
        <result column="code" property="code"/>
        <result column="auth_field" property="authField"/>
        <result column="seal" property="seal"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        user_name,
        user_id,
        role_id,
        role_name,
        code,
        auth_field,
        seal,
        status,
        is_deleted,
        create_user,
        create_time,
        update_user,
        update_time,
        create_dept
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="dataSealAuthorityResultMap">
        SELECT
        <include refid="baseColumnList">
        </include>
        FROM data_seal_authority
        WHERE is_deleted = 0
        <if test="dataSealAuthority.userId != null and dataSealAuthority.userId != ''">
            AND user_id like concat('%',#{dataSealAuthority.userId},'%')
        </if>
    </select>
    <!--根据合同id查询相对方集合-->
    <select id="selectByUserIds" resultMap="dataSealAuthorityResultMap">
        SELECT
        <include refid="baseColumnList">
        </include>
        FROM data_seal_authority
        WHERE is_deleted = 0
        AND
        user_id =#{userId}
        AND
        role_id =#{roleId}
    </select>
</mapper>
