<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="postResultMap" type="org.springblade.system.entity.Post">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="category" property="category"/>
        <result column="post_code" property="postCode"/>
        <result column="post_name" property="postName"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="selectPostPage" resultMap="postResultMap">
        select * from blade_post where is_deleted = 0
    </select>

    <select id="getPostNames" resultType="java.lang.String">
        SELECT
            post_name
        FROM
            blade_post
        WHERE
            id IN
            <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
                #{ids}
            </foreach>
            and is_deleted = 0
    </select>

    <sql id="baseColumnList">
        id,
        tenant_id,
        category,
        post_code,
        post_name,
        sort,
        remark,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="postResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM blade_post
        WHERE is_deleted = 0
        <if test="post.postCode != null and post.postCode != ''">
            AND post_code like concat('%',#{post.postCode},'%')
        </if>
        <if test="post.postName != null and post.postName != ''">
            AND post_name like concat('%',#{post.postName},'%')
        </if>
    </select>

    <select id="getPostIdByAssociationId" resultType="org.springblade.system.entity.Post" parameterType="java.lang.String">
        select
        t.*
        from blade_post t
        <if test="associationId != null and associationId != ''">
            where t.association_id = #{associationId}
        </if>
    </select>


    <insert id="saveBatchPost">
        INSERT INTO blade_post (id, post_name, association_id, update_time , status, is_deleted)
        VALUES
        <foreach collection="postList" separator="," item="item">
            (#{item.id}, #{item.postName}, #{item.associationId}, #{item.updateTime}, 1, 0 )
        </foreach>
        ON DUPLICATE KEY UPDATE
        post_name = VALUES(post_name),is_deleted = VALUES(is_deleted),update_time = VALUES(update_time),status = VALUES(status)
    </insert>
</mapper>
