<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="templateResultMap" type="org.springblade.system.entity.TemplateEntity">
        <result column="id" property="id"/>
        <result column="bean" property="bean"/>
        <result column="json" property="json"/>
        <result column="bean_name" property="beanName"/>
        <result column="form_code" property="formCode"/>
        <result column="template_code" property="templateCode"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        bean,
        bean_name,
        form_code,
        json,
        template_code,
        create_user,
        create_dept,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted
    </sql>
    <!-- 分页 -->
    <select id="pageList" resultMap="templateResultMap">
        SELECT
            <include refid="baseColumnList"></include>
        FROM template
        WHERE is_deleted = 0
        <if test="template.beanName != null and template.beanName != ''">
            AND bean_name like concat('%',#{template.beanName},'%')
        </if>
        <if test="template.formCode != null and template.formCode != ''">
            AND form_code like concat('%',#{template.formCode},'%')
        </if>
    </select>

    <!-- 分页 -->
    <select id="selectByCode" resultMap="templateResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM template
        WHERE is_deleted = 0
        AND form_code = concat(#{code})
    </select>


    <select id="selectTemplateByCode" resultMap="templateResultMap">
        SELECT
        <include refid="baseColumnList"></include>
        FROM template
        WHERE is_deleted = 0
        AND template_code = #{code}
    </select>


</mapper>
