<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.UserDepartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="user_departResultMap" type="org.springblade.system.entity.UserDepartEntity">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="dept_id" property="deptId"/>
        <result column="post_id" property="postId"/>
    </resultMap>

    <update id="updateByDept">
        update blade_user_depart
        set dept_id=${newDeptId}
        where dept_id = ${oldDeptId}
    </update>
    <select id="getDeptIdByAssociationId" resultType="org.springblade.system.entity.UserDepartEntity" parameterType="java.lang.Long">
        select
        t.*
        from blade_user_depart t
        <if test="associationId != null and associationId != ''">
            where t.user_id = #{associationId}
        </if>
    </select>

    <select id="getByUserIdDeptUser" resultMap="user_departResultMap">
        select
        t.*
        from blade_user_depart t
        <if test="associationId != null and associationId != ''">
            where t.user_id = #{associationId}
        </if>
    </select>
    <insert id="saveBatchUserDepart">
        INSERT INTO blade_user_depart (id, user_id, role_id, dept_id, post_id)
        VALUES
        <foreach collection="userDepartList" separator="," item="item">
            (#{item.id}, #{item.userId}, #{item.roleId}, #{item.deptId}, #{item.postId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        user_id = VALUES(user_id),role_id = VALUES(role_id),dept_id = VALUES(dept_id),post_id = VALUES(post_id)
    </insert>


    <insert id="saveUserDepartList">
        insert into blade_user_depart (id, user_id, role_id, dept_id, post_id)
        VALUES
        <foreach collection="userDepartList" separator="," item="item">
            (#{item.id}, #{item.userId}, #{item.roleId}, #{item.deptId}, #{item.postId})
        </foreach>
    </insert>

</mapper>
